In [1]:
# importing the default libraries for data analysis and exploration

from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import collections

In [2]:
# downloading the FIFA20 complete player dataset from Kaggle

from google.colab import files
uploaded = files.upload()
!ls -lha kaggle.json
!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download -d stefanoleone992/fifa-20-complete-player-dataset

Saving fixture_list.csv to fixture_list.csv
Saving gk_adv.csv to gk_adv.csv
Saving kaggle.json to kaggle.json
Saving league table.csv to league table.csv
Saving pos_stats_1.csv to pos_stats_1.csv
Saving sca.csv to sca.csv
Saving shoo_stats.csv to shoo_stats.csv
-rw-r--r-- 1 root root 67 Oct  4 05:12 kaggle.json
Downloading fifa-20-complete-player-dataset.zip to /content
 69% 10.0M/14.5M [00:00<00:00, 38.3MB/s]
100% 14.5M/14.5M [00:00<00:00, 48.2MB/s]

In [3]:
!unzip fifa-20-complete-player-dataset.zip

Archive:  fifa-20-complete-player-dataset.zip
  inflating: players_15.csv
  inflating: players_16.csv
  inflating: players_17.csv
  inflating: players_18.csv
  inflating: players_19.csv
  inflating: players_20.csv
  inflating: teams_and_leagues.csv

In [4]:
df_15 = pd.read_csv('players_15.csv',error_bad_lines=False)
df_16 = pd.read_csv('players_16.csv',error_bad_lines=False)
df_17 = pd.read_csv('players_17.csv',error_bad_lines=False)
df_18 = pd.read_csv('players_18.csv',error_bad_lines=False)
df_19 = pd.read_csv('players_19.csv',error_bad_lines=False)
df_20 = pd.read_csv('players_20.csv',error_bad_lines=False)

In [5]:
# checking the initial dataset
df_20.head()

   sofifa_id                                         player_url  ...   rcb    rb
0     158023  https://sofifa.com/player/158023/lionel-messi/...  ...  52+2  63+2
1      20801  https://sofifa.com/player/20801/c-ronaldo-dos-...  ...  53+3  61+3
2     190871  https://sofifa.com/player/190871/neymar-da-sil...  ...  46+3  61+3
3     200389  https://sofifa.com/player/200389/jan-oblak/20/...  ...   NaN   NaN
4     183277  https://sofifa.com/player/183277/eden-hazard/2...  ...  49+3  61+3

[5 rows x 104 columns]

In [6]:
# dropping the SOFIFA ID (unique identifier used by FIFA)
df_20 = df_20.drop(['sofifa_id','player_url'],axis = 1)

In [7]:
# Complete list of the columns of the dataset
print(list(df_20.columns))

['short_name', 'long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club', 'overall', 'potential', 'value_eur', 'wage_eur', 'player_positions', 'preferred_foot', 'international_reputation', 'weak_foot', 'skill_moves', 'work_rate', 'body_type', 'real_face', 'release_clause_eur', 'player_tags', 'team_position', 'team_jersey_number', 'loaned_from', 'joined', 'contract_valid_until', 'nation_position', 'nation_jersey_number', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning', 'player_traits', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb']

In [8]:
# checking what all columns have NaN values
df_20.isnull().sum()

short_name       0
long_name        0
age              0
dob              0
height_cm        0
              ...
lb            2036
lcb           2036
cb            2036
rcb           2036
rb            2036
Length: 102, dtype: int64

In [10]:
columns = [ 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb']
df_20.loc[:,columns]

         ls    st    rs    lw    lf    cf  ...   rwb    lb   lcb    cb   rcb    rb
0      89+2  89+2  89+2  93+2  93+2  93+2  ...  68+2  63+2  52+2  52+2  52+2  63+2
1      91+3  91+3  91+3  89+3  90+3  90+3  ...  65+3  61+3  53+3  53+3  53+3  61+3
2      84+3  84+3  84+3  90+3  89+3  89+3  ...  66+3  61+3  46+3  46+3  46+3  61+3
3       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
4      83+3  83+3  83+3  89+3  88+3  88+3  ...  66+3  61+3  49+3  49+3  49+3  61+3
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
18273  32+2  32+2  32+2  31+2  31+2  31+2  ...  43+2  45+2  46+2  46+2  46+2  45+2
18274  33+2  33+2  33+2  33+2  32+2  32+2  ...  44+2  46+2  47+2  47+2  47+2  46+2
18275  43+2  43+2  43+2  43+2  43+2  43+2  ...  47+2  47+2  49+2  49+2  49+2  47+2
18276  43+2  43+2  43+2  45+2  44+2  44+2  ...  48+2  48+2  49+2  49+2  49+2  48+2
18277  42+2  42+2  42+2  44+2  43+2  43+2  ...  48+2  48+2  50+2  50+2  50+2  48+2

[18278 rows x 26 columns]

In [11]:
# splitting the column of positional rating that come equipped with the chemistry/form boost
df_20['chem_boost'] = df_20['ls'].str.split('+',n=1,expand = True)[1]
for col in columns:
  df_20[col] = df_20[col].str.split('+',n=1,expand = True)[0]

In [13]:
# trying a simple function to call the team based on the Club

def get_club_data(name):
  team = df_20.loc[df_20['club'] == name]
  team['team_jersey_number'] = [int(x) for x in team['team_jersey_number']]
  #team = team.set_index('team_jersey_number')
  return team
mufc = get_club_data('Manchester United')

mufc

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 short_name                         long_name  ...   rb chem_boost
14                   De Gea             David De Gea Quintana  ...  NaN        NaN
24                 P. Pogba                        Paul Pogba  ...   74          3
163              A. Martial                   Anthony Martial  ...   60          3
171             M. Rashford                   Marcus Rashford  ...   62          2
280              H. Maguire                     Harry Maguire  ...   72          2
295               Juan Mata           Juan Manuel Mata García  ...   55          3
301              A. Sánchez  Alexis Alejandro Sánchez Sánchez  ...   60          3
319              J. Lingard                     Jesse Lingard  ...   68          2
335             V. Lindelöf           Victor Nilsson Lindelöf  ...   77          2
347                 L. Shaw                         Luke Shaw  ...   80          2
396                N. Matić                     Nemanja Matić  ...   73          3
462               E. Bailly                       Eric Bailly  ...   72          2
508               S. Romero              Sergio Germán Romero  ...  NaN        NaN
534             C. Smalling                    Chris Smalling  ...   71          3
571          A. Wan-Bissaka                 Aaron Wan-Bissaka  ...   78          2
644                    Fred      Frederico R. de Paula Santos  ...   75          2
654                P. Jones                        Phil Jones  ...   71          2
957                 M. Rojo      Faustino Marcos Alberto Rojo  ...   72          3
1028           S. McTominay                   Scott McTominay  ...   72          2
1044        Andreas Pereira   Andreas Hugo Hoelgebaum Pereira  ...   70          2
1140               A. Young                      Ashley Young  ...   73          2
1631            Diogo Dalot         José Diogo Dalot Teixeira  ...   73          2
1962             M. Darmian                    Matteo Darmian  ...   73          2
2661            A. Tuanzebe                     Axel Tuanzebe  ...   70          2
2702         T. Fosu-Mensah         Timothy Evans Fosu-Mensah  ...   71          2
3299               D. James                      Daniel James  ...   52          2
3689               L. Grant                         Lee Grant  ...  NaN        NaN
6622               A. Gomes                       Angel Gomes  ...   52          2
7690           M. Greenwood                   Mason Greenwood  ...   50          2
8010   C. Borthwick-Jackson         Cameron Borthwick-Jackson  ...   65          2
8839            D. Mitchell                  Demetri Mitchell  ...   65          2
9901               T. Chong                      Tahith Chong  ...   54          2
12167             J. Garner                      James Garner  ...   60          2

[33 rows x 103 columns]

In [15]:
#   In this cell we assign values to Goalkeepers for other positions
#   Needless to say goalkeepers will not have near enough proficiency
#   in those positions as they are goalkeepers. That being said they
#   aren't completely incompetent, therefore we assign them minimal 
#   values in those position based on their strong foot.

#   We also create a new position called Goalkeeper in the columns 
#   so that we can assign the goalkeeping overall and access it 
#   directly

lcols = ['ls','lf','lw','lam','lm','lb','lwb']
rcols = ['rs','rf','rw','ram','rm','rb','rwb']
ccols = ['st','cm','cam','cdm','cb','lcb','rcb','cf','lcm','rcm','ldm','rdm']
for i in range(len(df_20)):
  if df_20.loc[i,'player_positions'] == 'GK':
    df_20.loc[i,'gk'] = df_20.loc[i,'overall']
    if df_20.loc[i,'preferred_foot'] == 'Right':
      for col in rcols:
        df_20.loc[i,col] = 45
      for col in lcols:
        df_20.loc[i,col] = 35
      for col in ccols:
        df_20.loc[i,col] = 40
    else:
      for col in lcols:
        df_20.loc[i,col] = 45
      for col in rcols:
        df_20.loc[i,col] = 35
      for col in ccols:
        df_20.loc[i,col] = 40
  else:
    df_20.loc[i,'gk'] = int(df_20.loc[i,'overall']*0.4)
#print(df_20['gk'])
df_20['chem_boost'] = df_20['chem_boost'].fillna(3)

In [19]:
#   Converting the column data types to integer type
int_conv = ['gk', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb','chem_boost']
for col in int_conv:
  df_20[col] = [int(x) for x in df_20[col]]
#print(df_20.dtypes[0:50])
columns = [ 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb']

# Given some glaring discrepancy in the FIFA 20 Dataset, (particularly in Dortmund's overall), 
# I took it open myself to make things closer to the ground truth.

# PS: United fans you'll notice I did not change Jadon Sancho's club to Manchester United
# because he's not leaving. Get over it. 
for col in columns:
  df_20.loc[df_20[df_20['club'] == 'Leeds United'].index.values[0]][col] += 5
#df_20[df_20['long_name'] == 'Erling Braut Håland']
df_20.loc[2655,'club'] = 'Borussia Dortmund'
df_20.loc[2655,'age'] = 20
df_20.loc[2655,'team_jersey_number'] = 9.0
df_20.loc[2655,'overall'] = 84
df_20.loc[2655,'pace'] = 84
df_20.loc[2655,'shooting'] = 87
df_20.loc[2655,'passing'] = 63
df_20.loc[2655,'dribbling'] = 76
df_20.loc[2655,'defending'] = 43
df_20.loc[2655,'physic'] = 85
df_20.loc[2655,'st'] = 84
df_20.loc[2655,'ls'] = 84
df_20.loc[2655,'rs'] = 84
df_20.loc[108,'overall'] = 87
df_20.loc[108,'rm'] = 87
df_20.loc[108,'lm'] = 87
df_20.loc[108,'rw'] = 87
#df_20[df_20['long_name'] == 'Jadon Sancho'].iloc[0:50]
df_20.loc[186,'club'] = 'Villarreal CF'
#df_20[df_20['short_name']== 'Paco Alcácer']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
# checking for NaN values again to verify that all NaN values relevant to the dataset have been eliminated
print(df_20.isnull().sum())

short_name    0
long_name     0
age           0
dob           0
height_cm     0
             ..
cb            0
rcb           0
rb            0
chem_boost    0
gk            0
Length: 104, dtype: int64

In [ ]:
"""

The next blob of code contains the class that we shall be using for the majority
of the project. We make a class that can be used to contain the information of 
one club and enable easy and seamless interaction between clubs. 

As described we use the get_club_data function (albeit a little modified) to 
fetch the player dataset for the particular player. For stastical and the
mathematical modelling of a "club" I felt that getting as many variables describing
the club would make the process more detailed and therefore more accurate. 

In this project a club can be viewed as a collection of variables. The club's 
entire overall, the club's defensive overall, midfield overall, attack overall,
the standalone goalkeeper statistics and overall, and the sub's bench. 

Keep in mind that in a game of football the only utilities you have are the 
eleven starting players, and the seven subs out of which only 3 are used. At 
the time of creation however due to COVID the 5 subs rule was in place and 
was therefore incorporated in the model. 

The overall of the team or club therefore depends on the players on the pitch. 

And no, Barca fans, you can't expect one 93 rated Lionel Messi to 
carry you to glory. 

Since this is a mathematical model the "history" of the club is irrelevant, 
as it should be. 
"""

In [25]:
class club:

  def __init__(self,team_name):
    self.team_name = team_name
    self.starting_eleven = collections.OrderedDict()
    self.defense = collections.OrderedDict()
    self.midfield = collections.OrderedDict()
    self.attack = collections.OrderedDict()
    self.goalkeep = collections.OrderedDict()
    self.sub_5 = collections.OrderedDict()
    self.team_data = df_20.loc[:,:]
    self.ovr = 0
    self.get_team_data()
    self.get_ideal_line()
    #self.avg_possession = p_stats[p_stats['Squad'] == self.team_name]['Poss'].values[0]


  def get_ideal_line(self):
    '''
    This function is an approximation of a way to select the best lineup 
    for a team. Pick the most high rated players for a particular position
    for that position. 

    While this is a function called by default, the model is also open
    (and encouragingly so) for user inputs of the team the user wishes to field.
    '''
    copy = self.team_data
    gcolumns = ['gk']
    dcolumns = ['cb','cb','lb','rb']
    mcolumns = ['cam','cm','cm']
    acolumns = ['lw','st','rw']
    columns = ['gk','cb','cb','lb','rb','cam','cm','cm','lw','st','rw']
    

    
    for col in gcolumns:
      self.goalkeep[copy[copy[col] == copy[col].max()]['team_jersey_number'].values[0]] = col
    for col in dcolumns:
      self.defense[copy[copy[col] == copy[col].max()]['team_jersey_number'].values[0]] = col
      copy = copy.drop(copy[col].idxmax(),axis = 0)
    for col in mcolumns:
      self.midfield[copy[copy[col] == copy[col].max()]['team_jersey_number'].values[0]] = col
      copy = copy.drop(copy[col].idxmax(),axis = 0)
    for col in acolumns:
      self.attack[copy[copy[col] == copy[col].max()]['team_jersey_number'].values[0]] = col
      copy = copy.drop(copy[col].idxmax(),axis = 0)
    
    self.starting_eleven = {**self.goalkeep,**self.defense,**self.midfield,**self.attack}
    
    for i in range(5):
      self.sub_5[copy[copy['overall'] == copy['overall'].max()]['team_jersey_number'].values[0]] = 'SUB'
      copy = copy.drop(copy['overall'].idxmax(),axis = 0)
    
 
  def get_team_data(self):
    self.team_data = df_20[df_20['club']==self.team_name]
    #self.team_data.loc['team_jersey_number'] = [int(x) for x in self.team_data['team_jersey_number']]
  
  def print_starters(self):

    # Simple function for printing the starting lineup with positions 
    for x,y in zip(self.starting_eleven,self.starting_eleven.values()):
      print('{} : {}'.format(y.upper(),self.team_data[self.team_data['team_jersey_number'] == x]['short_name'].values[0]) )

  def get_ovr(self,goalkeep,defense,midfield,attack,starting_eleven,sub,form):
    '''
    One of the driver functions behind the model, the get_ovr function 
    aims to use the positional overall and the base overall of each and every
    player to get the variables of the class described in the previous blob

    The class has 5 main values that it judges the team upon : 
    1) Goalkeeper Overall
    2) Aggregate Defense Overall
    3) Aggregate Midfield Overall
    4) Aggregate Attack Overall
    5) Aggregate Substitute Overall
    6) The form of the team (upto three previous matches)
    '''
    pos = []
    jernum = []
    self.ovr = 0
    self.mid_ovr = 0
    self.def_ovr = 0
    self.att_ovr = 0
    self.gk_ovr = 0
    self.lineup = pd.DataFrame()
    self.midfield = pd.DataFrame()
    self.attack = pd.DataFrame()
    self.goalkeep = pd.DataFrame()
    self.defense = pd.DataFrame()
    self.form = form
    for x,y in zip(midfield,midfield.values()):
      a = self.team_data[self.team_data['team_jersey_number']==x]
      self.midfield = self.midfield.append(self.team_data[self.team_data['team_jersey_number'] == x])
      self.mid_ovr += a[y].values[0]
    self.mid_ovr = (self.mid_ovr)/len(midfield)
    
    min_def = 0
    for x,y in zip(defense,defense.values()):
      a = self.team_data[self.team_data['team_jersey_number']==x]
      self.defense = self.defense.append(self.team_data[self.team_data['team_jersey_number'] == x])
      self.def_ovr += a[y].values[0]
      if min_def == 0:
        min_def = a[y].values[0]
      elif min_def<a[y].values[0]:
        min_def = a[y].values[0]
    self.def_ovr = ((self.def_ovr/len(defense)) + min_def)/2
    
    for x,y in zip(attack,attack.values()):
      a = self.team_data[self.team_data['team_jersey_number']==x]
      self.attack = self.attack.append(self.team_data[self.team_data['team_jersey_number'] == x])
      self.att_ovr += a[y].values[0]
    self.att_ovr = self.att_ovr/len(attack)
    
    for x,y in zip(goalkeep,goalkeep.values()):
      a = self.team_data[self.team_data['team_jersey_number']==x]
      self.goalkeep = self.goalkeep.append(self.team_data[self.team_data['team_jersey_number'] == x])
      self.gk_ovr += a[y].values[0]
    
    for x,y in zip(starting_eleven,starting_eleven.values()):
      a = self.team_data[self.team_data['team_jersey_number']==x]
      self.lineup = self.lineup.append(self.team_data[self.team_data['team_jersey_number'] == x])
      self.ovr += a[y].values[0]
    
    self.ovr = (self.gk_ovr + self.def_ovr + self.mid_ovr + self.att_ovr)/4
    sub_ovr = 0
    for x,y in zip(sub,sub.values()):
      a = self.team_data[self.team_data['team_jersey_number']==x]
      self.lineup = self.lineup.append(self.team_data[self.team_data['team_jersey_number'] == x])
      sub_ovr += a['overall'].values[0]
    sub_ovr = (sub_ovr*3)/7
    pos = pd.DataFrame([x.upper() for x in list(starting_eleven.values())],index = [x for x in starting_eleven])
    pos_sub = pd.DataFrame([x.upper() for x in list(sub.values())],index = [x for x in sub])
    pos = pos.append(pos_sub)
    self.lineup['Index'] = self.lineup['team_jersey_number']
    self.lineup = self.lineup.set_index('Index')
    self.lineup = self.lineup.loc[:,('short_name','age','overall')]
    self.lineup = pd.concat([self.lineup,pos],axis = 1)
    self.lineup.columns = ['short_name','age','overall','Positions']
    self.ovr += sub_ovr
    return self.ovr

In [26]:
#   Now we try to see if the ideal line-up algorithm works to put the best players
#   available to Borussia Dortmund on the pitch. 
BVB09 = club('Borussia Dortmund')
BVB09.get_ovr(BVB09.goalkeep,BVB09.defense,BVB09.midfield,BVB09.attack,BVB09.starting_eleven,BVB09.sub_5,['W','W','W'])
BVB09.print_starters()

GK : R. Bürki
CB : M. Hummels
CB : A. Witsel
LB : T. Delaney
RB : L. Piszczek
CAM : M. Reus
CM : M. Götze
CM : R. Guerreiro
LW : J. Sancho
ST : E. Håland
RW : J. Brandt

In [ ]:
"""
FIFA however, can only do so much in reference to the representation of the team.
Therefore to simulate interactions between the teams we need statistics that help
us better gauge the team as a whole.

For the same, I have used the amazing site FBRef to obtain squad based statistics
of all the teams in the Big 5 leagues, that is the Italian Serie-A, 
the German Bundesliga,the French Ligue One, the Spanish La Liga, and of course 
the best of the best, the English Premier League

We aim to obtain the stats for Squad Possession, Advanced Goalkeeping statistics,
the Shooting and SoT statistics, and the Shot Creating Actions and 
Chance Creation statistics. 

These statistics are important because Football isn't a game of who's the better
team, it's a game of who scores more goals. Plain and Simple. 

"""

In [27]:
# Reading the statistics from the csv files
p_stats = pd.read_csv('pos_stats_1.csv',error_bad_lines=False,encoding = "ISO-8859-1")
gk_adv = pd.read_csv('gk_adv.csv',error_bad_lines= False,encoding= "ISO-8859-1")
shooting = pd.read_csv('shoo_stats.csv',error_bad_lines=False,encoding = "ISO-8859-1")
sca = pd.read_csv('sca.csv',error_bad_lines=False,encoding = "ISO-8859-1")
p_stats

             Squad                Comp  # Pl  Poss  ...    Rec  Rec%  Miscon  Dispos
0           Alavés          es La Liga    32  41.1  ...   9724  78.5     458     386
1           Amiens          fr Ligue 1    27  45.5  ...   9628  82.8     409     426
2           Angers          fr Ligue 1    26  45.1  ...  10616  84.9     386     358
3          Arsenal  eng Premier League    29  54.0  ...  16349  86.7     448     451
4      Aston Villa  eng Premier League    28  43.9  ...  11530  81.8     409     428
..             ...                 ...   ...   ...  ...    ...   ...     ...     ...
96   Werder Bremen       de Bundesliga    30  48.8  ...  12978  83.9     453     403
97       West Brom  eng Premier League    17  29.7  ...    706  85.7      31      40
98        West Ham  eng Premier League    29  44.0  ...  12388  80.9     399     408
99       Wolfsburg       de Bundesliga    26  48.3  ...  11716  81.9     469     469
100         Wolves  eng Premier League    21  48.3  ...  14072  84.2     447     454

[101 rows x 24 columns]

In [28]:
gk_adv

             Squad                Comp  # Pl  ...  #OPA  #OPA/90  AvgDist
0           Alavés          es La Liga     3  ...    18     0.47     14.0
1           Amiens          fr Ligue 1     1  ...    11     0.39     13.7
2           Angers          fr Ligue 1     2  ...    22     0.79     14.8
3          Arsenal  eng Premier League     2  ...    21     0.55     13.3
4      Aston Villa  eng Premier League     4  ...    19     0.50     13.1
..             ...                 ...   ...  ...   ...      ...      ...
96   Werder Bremen       de Bundesliga     2  ...    24     0.71     14.3
97       West Brom  eng Premier League     1  ...     0     0.00     13.3
98        West Ham  eng Premier League     4  ...    12     0.32     11.7
99       Wolfsburg       de Bundesliga     2  ...    30     0.88     15.4
100         Wolves  eng Premier League     1  ...     8     0.21     12.3

[101 rows x 29 columns]

In [29]:
shooting

             Squad                Comp  # Pl  Gls  ...  npxG  npxG/Sh  G-xG  np:G-xG
0           Alavés          es La Liga    32   34  ...  32.4     0.11  -2.9     -4.4
1           Amiens          fr Ligue 1    27   31  ...  22.9     0.10   4.2      5.1
2           Angers          fr Ligue 1    26   27  ...  26.4     0.07  -0.1     -0.4
3          Arsenal  eng Premier League    29   56  ...  46.9     0.12   6.8      6.1
4      Aston Villa  eng Premier League    28   40  ...  37.6     0.08   0.0      1.4
..             ...                 ...   ...  ...  ...   ...      ...   ...      ...
96   Werder Bremen       de Bundesliga    30   40  ...  36.9     0.09  -1.4      0.1
97       West Brom  eng Premier League    17    5  ...   1.7     0.08   3.3      3.3
98        West Ham  eng Premier League    29   49  ...  43.2     0.11   2.8      1.8
99       Wolfsburg       de Bundesliga    26   48  ...  44.3     0.10   0.7     -0.3
100         Wolves  eng Premier League    21   49  ...  44.1     0.10   1.9      0.9

[101 rows x 19 columns]

In [30]:
sca

             Squad                Comp  # Pl  SCA  ...  Drib.1  Sh.1  Fld.1  OG
0           Alavés          es La Liga    32  454  ...       1     6      7   0
1           Amiens          fr Ligue 1    27  351  ...       6     4      6   0
2           Angers          fr Ligue 1    26  544  ...       3     3      3   1
3          Arsenal  eng Premier League    29  615  ...       4     9      4   0
4      Aston Villa  eng Premier League    28  747  ...       5     4      4   1
..             ...                 ...   ...  ...  ...     ...   ...    ...  ..
96   Werder Bremen       de Bundesliga    30  647  ...       4    11      5   2
97       West Brom  eng Premier League    17   31  ...       1     0      1   0
98        West Ham  eng Premier League    29  653  ...       6     6      9   0
99       Wolfsburg       de Bundesliga    26  699  ...       8     7      8   0
100         Wolves  eng Premier League    21  686  ...       8     8      8   2

[101 rows x 18 columns]

In [ ]:
'''
As we can see, the names of the Squads aren't exactly the same as the ones in
the FIFA Dataset. Therefore we make a dictionary that can ensure the 
seamless conversion of these Squad Names to standard FIFA club names.


'''

In [31]:
possession_new = p_stats 
club_names = list(np.unique(df_20['club']))
pos_to_df = {}
for i in range(len(possession_new)):
  for j in range(len(club_names)):
    if(p_stats.loc[i,'Squad'] in club_names[j]):
      pos_to_df[possession_new.loc[i,'Squad']] = club_names[j]
      possession_new.loc[i,'Squad'] = club_names[j]

In [35]:
print('Clubs in the dictionary : {}'.format(len(pos_to_df)))
print('Clubs in the top 5 leagues : {}'.format(len(p_stats)))
pos_to_df

Clubs in the dictionary : 91
Clubs in the top 5 leagues : 101

{'Alavés': 'Deportivo Alavés',
 'Amiens': 'Amiens SC',
 'Angers': 'Angers SCO',
 'Arsenal': 'Arsenal de Sarandí',
 'Aston Villa': 'Aston Villa',
 'Atalanta': 'Atalanta',
 'Athletic Club': 'Athletic Club de Bilbao',
 'Atlético Madrid': 'Atlético Madrid',
 'Augsburg': 'FC Augsburg',
 'Barcelona': 'FC Barcelona',
 'Betis': 'Real Betis',
 'Bologna': 'Bologna',
 'Bordeaux': 'FC Girondins de Bordeaux',
 'Bournemouth': 'Bournemouth',
 'Brescia': 'Brescia',
 'Brest': 'Stade Brestois 29',
 'Brighton': 'Brighton & Hove Albion',
 'Burnley': 'Burnley',
 'Cagliari': 'Cagliari',
 'Chelsea': 'Chelsea',
 'Crystal Palace': 'Crystal Palace',
 'Dijon': 'Dijon FCO',
 'Dortmund': 'Borussia Dortmund',
 'Düsseldorf': 'Fortuna Düsseldorf',
 'Eibar': 'SD Eibar',
 'Espanyol': 'RCD Espanyol',
 'Everton': 'CD Everton de Viña del Mar',
 'Fiorentina': 'Fiorentina',
 'Freiburg': 'SC Freiburg',
 'Fulham': 'Fulham',
 'Genoa': 'Genoa',
 'Getafe': 'Getafe CF',
 'Granada': 'Granada CF',
 'Hellas Verona': 'Hellas Verona',
 'Hertha BSC': 'Hertha BSC',
 'Hoffenheim': 'TSG 1899 Hoffenheim',
 'Inter': 'Internacional',
 'Juventus': 'Juventus',
 'Köln': '1. FC Köln',
 'Lazio': 'Lazio',
 'Lecce': 'Lecce',
 'Leeds United': 'Leeds United',
 'Leganés': 'CD Leganés',
 'Leicester City': 'Leicester City',
 'Levante': 'Levante UD',
 'Leverkusen': 'Bayer 04 Leverkusen',
 'Lille': 'LOSC Lille',
 'Liverpool': 'Liverpool',
 'Lyon': 'Olympique Lyonnais',
 'Mainz 05': '1. FSV Mainz 05',
 'Mallorca': 'RCD Mallorca',
 'Manchester City': 'Manchester City',
 'Marseille': 'Olympique de Marseille',
 'Metz': 'FC Metz',
 'Milan': 'Milan',
 'Monaco': 'AS Monaco',
 'Montpellier': 'Montpellier HSC',
 'Nantes': 'FC Nantes',
 'Napoli': 'Napoli',
 'Nice': 'OGC Nice',
 'Norwich City': 'Norwich City',
 'Nîmes': 'Nîmes Olympique',
 'Osasuna': 'CA Osasuna',
 'Paderborn 07': 'SC Paderborn 07',
 'Parma': 'Parma',
 'RB Leipzig': 'RB Leipzig',
 'Real Madrid': 'Real Madrid',
 'Real Sociedad': 'Real Sociedad',
 'Reims': 'Stade de Reims',
 'Roma': 'Romania',
 'SPAL': 'SPAL',
 'Saint-Étienne': 'AS Saint-Étienne',
 'Sampdoria': 'Sampdoria',
 'Sassuolo': 'Sassuolo',
 'Schalke 04': 'FC Schalke 04',
 'Sevilla': 'Sevilla FC',
 'Southampton': 'Southampton',
 'Strasbourg': 'RC Strasbourg Alsace',
 'Torino': 'Torino',
 'Tottenham': 'Tottenham Hotspur',
 'Toulouse': 'Toulouse Football Club',
 'Udinese': 'Udinese',
 'Union Berlin': '1. FC Union Berlin',
 'Valencia': 'Valencia CF',
 'Valladolid': 'Real Valladolid CF',
 'Villarreal': 'Villarreal CF',
 'Watford': 'Watford',
 'Werder Bremen': 'SV Werder Bremen',
 'West Brom': 'West Bromwich Albion',
 'West Ham': 'West Ham United',
 'Wolfsburg': 'VfL Wolfsburg'}

In [36]:
# Corrective labelling to include missing clubs and mislabelled clubs
pos_to_df['Arsenal'] = 'Arsenal'
pos_to_df['Everton'] = 'Everton'
pos_to_df['Roma'] = 'Roma'
pos_to_df['Inter'] = 'Inter'
pos_to_df['Manchester Utd'] = 'Manchester United'
pos_to_df['M\'Gladbach'] = 'Borussia Mönchengladbach'
pos_to_df['Bayern Munich'] = 'FC Bayern München'
pos_to_df['Sheffield Utd'] = 'Sheffield United'
pos_to_df['Rennes'] = 'Stade Rennais FC'
pos_to_df['Paris S-G'] = 'Paris Saint-Germain'
pos_to_df['Wolves'] = 'Wolverhampton Wanderers'
pos_to_df['Brest'] = 'Stade Brestois 29'
pos_to_df['Celta Vigo'] = 'RC Celta'
pos_to_df['Eint Frankfurt'] = 'Eintracht Frankfurt'
pos_to_df['Newcastle Utd'] = 'Newcastle United'

In [37]:
pos_to_df

{'Alavés': 'Deportivo Alavés',
 'Amiens': 'Amiens SC',
 'Angers': 'Angers SCO',
 'Arsenal': 'Arsenal',
 'Aston Villa': 'Aston Villa',
 'Atalanta': 'Atalanta',
 'Athletic Club': 'Athletic Club de Bilbao',
 'Atlético Madrid': 'Atlético Madrid',
 'Augsburg': 'FC Augsburg',
 'Barcelona': 'FC Barcelona',
 'Bayern Munich': 'FC Bayern München',
 'Betis': 'Real Betis',
 'Bologna': 'Bologna',
 'Bordeaux': 'FC Girondins de Bordeaux',
 'Bournemouth': 'Bournemouth',
 'Brescia': 'Brescia',
 'Brest': 'Stade Brestois 29',
 'Brighton': 'Brighton & Hove Albion',
 'Burnley': 'Burnley',
 'Cagliari': 'Cagliari',
 'Celta Vigo': 'RC Celta',
 'Chelsea': 'Chelsea',
 'Crystal Palace': 'Crystal Palace',
 'Dijon': 'Dijon FCO',
 'Dortmund': 'Borussia Dortmund',
 'Düsseldorf': 'Fortuna Düsseldorf',
 'Eibar': 'SD Eibar',
 'Eint Frankfurt': 'Eintracht Frankfurt',
 'Espanyol': 'RCD Espanyol',
 'Everton': 'Everton',
 'Fiorentina': 'Fiorentina',
 'Freiburg': 'SC Freiburg',
 'Fulham': 'Fulham',
 'Genoa': 'Genoa',
 'Getafe': 'Getafe CF',
 'Granada': 'Granada CF',
 'Hellas Verona': 'Hellas Verona',
 'Hertha BSC': 'Hertha BSC',
 'Hoffenheim': 'TSG 1899 Hoffenheim',
 'Inter': 'Inter',
 'Juventus': 'Juventus',
 'Köln': '1. FC Köln',
 'Lazio': 'Lazio',
 'Lecce': 'Lecce',
 'Leeds United': 'Leeds United',
 'Leganés': 'CD Leganés',
 'Leicester City': 'Leicester City',
 'Levante': 'Levante UD',
 'Leverkusen': 'Bayer 04 Leverkusen',
 'Lille': 'LOSC Lille',
 'Liverpool': 'Liverpool',
 'Lyon': 'Olympique Lyonnais',
 "M'Gladbach": 'Borussia Mönchengladbach',
 'Mainz 05': '1. FSV Mainz 05',
 'Mallorca': 'RCD Mallorca',
 'Manchester City': 'Manchester City',
 'Manchester Utd': 'Manchester United',
 'Marseille': 'Olympique de Marseille',
 'Metz': 'FC Metz',
 'Milan': 'Milan',
 'Monaco': 'AS Monaco',
 'Montpellier': 'Montpellier HSC',
 'Nantes': 'FC Nantes',
 'Napoli': 'Napoli',
 'Newcastle Utd': 'Newcastle United',
 'Nice': 'OGC Nice',
 'Norwich City': 'Norwich City',
 'Nîmes': 'Nîmes Olympique',
 'Osasuna': 'CA Osasuna',
 'Paderborn 07': 'SC Paderborn 07',
 'Paris S-G': 'Paris Saint-Germain',
 'Parma': 'Parma',
 'RB Leipzig': 'RB Leipzig',
 'Real Madrid': 'Real Madrid',
 'Real Sociedad': 'Real Sociedad',
 'Reims': 'Stade de Reims',
 'Rennes': 'Stade Rennais FC',
 'Roma': 'Roma',
 'SPAL': 'SPAL',
 'Saint-Étienne': 'AS Saint-Étienne',
 'Sampdoria': 'Sampdoria',
 'Sassuolo': 'Sassuolo',
 'Schalke 04': 'FC Schalke 04',
 'Sevilla': 'Sevilla FC',
 'Sheffield Utd': 'Sheffield United',
 'Southampton': 'Southampton',
 'Strasbourg': 'RC Strasbourg Alsace',
 'Torino': 'Torino',
 'Tottenham': 'Tottenham Hotspur',
 'Toulouse': 'Toulouse Football Club',
 'Udinese': 'Udinese',
 'Union Berlin': '1. FC Union Berlin',
 'Valencia': 'Valencia CF',
 'Valladolid': 'Real Valladolid CF',
 'Villarreal': 'Villarreal CF',
 'Watford': 'Watford',
 'Werder Bremen': 'SV Werder Bremen',
 'West Brom': 'West Bromwich Albion',
 'West Ham': 'West Ham United',
 'Wolfsburg': 'VfL Wolfsburg',
 'Wolves': 'Wolverhampton Wanderers'}

In [38]:
# converting the squad names to correct FIFA format
p_stats = pd.read_csv('pos_stats_1.csv',error_bad_lines=False,encoding = "ISO-8859-1")
for i in range(len(p_stats)):
  p_stats.loc[i,'Squad'] = pos_to_df[p_stats.loc[i,'Squad']]
p_stats

                       Squad                Comp  # Pl  ...  Rec%  Miscon  Dispos
0           Deportivo Alavés          es La Liga    32  ...  78.5     458     386
1                  Amiens SC          fr Ligue 1    27  ...  82.8     409     426
2                 Angers SCO          fr Ligue 1    26  ...  84.9     386     358
3                    Arsenal  eng Premier League    29  ...  86.7     448     451
4                Aston Villa  eng Premier League    28  ...  81.8     409     428
..                       ...                 ...   ...  ...   ...     ...     ...
96          SV Werder Bremen       de Bundesliga    30  ...  83.9     453     403
97      West Bromwich Albion  eng Premier League    17  ...  85.7      31      40
98           West Ham United  eng Premier League    29  ...  80.9     399     408
99             VfL Wolfsburg       de Bundesliga    26  ...  81.9     469     469
100  Wolverhampton Wanderers  eng Premier League    21  ...  84.2     447     454

[101 rows x 24 columns]

In [39]:

relegated = ['Bournemouth','Watford','Norwich City']
for i in range(len(gk_adv)):
  if gk_adv.loc[i,'Squad'] in relegated:
    gk_adv.loc[i,'Comp'] = 'eng Championship'
  gk_adv.loc[i,'Squad'] = pos_to_df[gk_adv.loc[i,'Squad']]
gk_adv

                       Squad                Comp  # Pl  ...  #OPA  #OPA/90  AvgDist
0           Deportivo Alavés          es La Liga     3  ...    18     0.47     14.0
1                  Amiens SC          fr Ligue 1     1  ...    11     0.39     13.7
2                 Angers SCO          fr Ligue 1     2  ...    22     0.79     14.8
3                    Arsenal  eng Premier League     2  ...    21     0.55     13.3
4                Aston Villa  eng Premier League     4  ...    19     0.50     13.1
..                       ...                 ...   ...  ...   ...      ...      ...
96          SV Werder Bremen       de Bundesliga     2  ...    24     0.71     14.3
97      West Bromwich Albion  eng Premier League     1  ...     0     0.00     13.3
98           West Ham United  eng Premier League     4  ...    12     0.32     11.7
99             VfL Wolfsburg       de Bundesliga     2  ...    30     0.88     15.4
100  Wolverhampton Wanderers  eng Premier League     1  ...     8     0.21     12.3

[101 rows x 29 columns]

In [40]:
for i in range(len(shooting)):
  shooting.loc[i,'Squad'] = pos_to_df[shooting.loc[i,'Squad']]
shooting

                       Squad                Comp  # Pl  ...  npxG/Sh  G-xG  np:G-xG
0           Deportivo Alavés          es La Liga    32  ...     0.11  -2.9     -4.4
1                  Amiens SC          fr Ligue 1    27  ...     0.10   4.2      5.1
2                 Angers SCO          fr Ligue 1    26  ...     0.07  -0.1     -0.4
3                    Arsenal  eng Premier League    29  ...     0.12   6.8      6.1
4                Aston Villa  eng Premier League    28  ...     0.08   0.0      1.4
..                       ...                 ...   ...  ...      ...   ...      ...
96          SV Werder Bremen       de Bundesliga    30  ...     0.09  -1.4      0.1
97      West Bromwich Albion  eng Premier League    17  ...     0.08   3.3      3.3
98           West Ham United  eng Premier League    29  ...     0.11   2.8      1.8
99             VfL Wolfsburg       de Bundesliga    26  ...     0.10   0.7     -0.3
100  Wolverhampton Wanderers  eng Premier League    21  ...     0.10   1.9      0.9

[101 rows x 19 columns]

In [41]:
for i in range(len(sca)):
  sca.loc[i,'Squad'] = pos_to_df[sca.loc[i,'Squad']]
sca

                       Squad                Comp  # Pl  ...  Sh.1  Fld.1  OG
0           Deportivo Alavés          es La Liga    32  ...     6      7   0
1                  Amiens SC          fr Ligue 1    27  ...     4      6   0
2                 Angers SCO          fr Ligue 1    26  ...     3      3   1
3                    Arsenal  eng Premier League    29  ...     9      4   0
4                Aston Villa  eng Premier League    28  ...     4      4   1
..                       ...                 ...   ...  ...   ...    ...  ..
96          SV Werder Bremen       de Bundesliga    30  ...    11      5   2
97      West Bromwich Albion  eng Premier League    17  ...     0      1   0
98           West Ham United  eng Premier League    29  ...     6      9   0
99             VfL Wolfsburg       de Bundesliga    26  ...     7      8   0
100  Wolverhampton Wanderers  eng Premier League    21  ...     8      8   2

[101 rows x 18 columns]

In [42]:
def score_predict(club1,club2):
  '''
  This function attempts what is called in Sports Analysis as the ultimate 
  goal. Predicting the outcome of a match based on statistics.

  This is the first attempt at a basic static prediction involving two teams
  isolated and pitted together purely on the basis of their overall.

  Based on the overall and the playing style of the club, the model tries to 
  make a prediction on the possession throughout the match. Based on the 
  possession available to the team, the model predicts the shots on target 
  based on staggered Shots Created Prediction, depending on that particular team's
  average Shots and Chances created. 

  However, shots on target is not equal to goals scored. Which is why the Goalkeeper
  and the advanced Goalkeeper statistics are paramount to the model. 

  PSxG, or the Post Shot Goals Scored is a statistic for goalkeepers that is 
  meant to measure the probability that the shot results in a goal after a shot
  has been made. 

  It is a metric that enables accurate measure of the ability of the Goalkeeper.

  Kepa Arrizabalaga, the misfiring keeper of Chelsea has an astonishing 0.35 
  PSxG/Shots on Target. Which in essence means that for a player shooting on 
  target against Kepa Arrizabalaga has an approximately 1/3rd of a chance of
  scoring. Try fixing that eh, Timo Werner?

  The final goals tally is then compared to that of the other team, and the result
  is given out. 
  '''
  m1 = club1.mid_ovr
  m2 = club2.mid_ovr
  d1 = club1.def_ovr
  d2 = club2.def_ovr
  a1 = club1.att_ovr
  a2 = club2.att_ovr
  s1 = (2*m1 + a1)/3
  s2 = (2*m2 + a2)/3
  #pos1 = 2*(m1 - m2) + (d1 - d2) + (a1 - a2)
  #pos2 = 2*(m2 - m1) + (d2 - d1) + (a2 - a1)
  #perc1 = s1*100/(s1+s2)
  #perc2 = s2*100/(s1+s2)
  pos1 = (s1-s2)*2
  pos2 = (s2-s1)*2
  per1 = per2 = 50
  per1 = per1 + pos1
  per2 = per2 + pos2
  pos_ratio = s1/s2
  print("Possession Stats : ")
  '''
  if(s1>s2):
    if (s1-s2 > 5):
      print("{}  {:.3f} : {:.3f} {}".format(club1.team_name,per1,per2,club2.team_name))
    else :
      print("{}  {:.3f} : {:.3f} {}".format(club1.team_name,perc1,perc2,club2.team_name))
    pos_ratio = s1/s2
  else:  
    if (s2-s1 > 5):
      print("{}  {:.3f} : {:.3f} {}".format(club1.team_name,per1,per2,club2.team_name))
    else :
      print("{}  {:.3f} : {:.3f} {}".format(club1.team_name,perc1,perc2,club2.team_name))
    pos_ratio = s2/s1
  '''
  print("{}  {:.3f} : {:.3f} {}".format(club1.team_name,per1,per2,club2.team_name))
  shots_created_1 = int(shooting[shooting['Squad'] == club1.team_name]['Sh/90'].values[0]* (per1/50) * ( ( (m1+a1)/2 )/d2 ) )  
  shots_created_2 = int(shooting[shooting['Squad'] == club1.team_name]['Sh/90'].values[0]* (per2/50) * ( ( (m2+a2)/2 )/d1 ) )
  #print(' {} {} '.format(s1,s2))
  
  print('Shots Created by {} : {} '.format(club1.team_name,shots_created_1))
  print('Shots Created by {} : {} '.format(club2.team_name,shots_created_2))

  sot_1 = int(shooting[shooting['Squad'] == club1.team_name]['SoT%'].values[0] * (shots_created_1/100) * ( a1 / d2) )
  sot_2 = int(shooting[shooting['Squad'] == club2.team_name]['SoT%'].values[0] * (shots_created_2/100) * ( a2 / d1) )
  print('Shots on target by {} : {} '.format(club1.team_name,sot_1))
  print('Shots on target by {} : {} '.format(club2.team_name,sot_2))

  ex_g1 = int(gk_adv[gk_adv['Squad'] == club2.team_name]['PSxG/SoT'].values[0]*sot_1)
  ex_g2 = int(gk_adv[gk_adv['Squad'] == club1.team_name]['PSxG/SoT'].values[0]*sot_2)

  x_g1 = int(shooting[shooting['Squad'] == club1.team_name]['G/SoT'].values[0]*sot_1)
  x_g2 = int(shooting[shooting['Squad'] == club2.team_name]['G/SoT'].values[0]*sot_2)
  print("Predicted Scoreline :")
  print(" {} {} : {} {}".format(club1.team_name,ex_g1,ex_g2,club2.team_name))
  #print(" {} {} : {} {}".format(club1.team_name,x_g1,x_g2,club2.team_name))

In [43]:
MUN = club('Manchester United')
BVB09 = club('Borussia Dortmund')
a = BVB09.get_ovr(BVB09.goalkeep,BVB09.defense,BVB09.midfield,BVB09.attack,BVB09.starting_eleven,BVB09.sub_5,['D','D','D'])
b = MUN.get_ovr(MUN.goalkeep,MUN.defense,MUN.midfield,MUN.attack,MUN.starting_eleven,MUN.sub_5,['D','D','D'])

score_predict(BVB09,MUN)
"""
As per the function, a match between BVB09 and MUFC would result in a 1-1 draw,
which would see Dortmund come away with more possession, but are let down by
Roman Burki who has an astonishingly high 0.34 PSxG/SoT
"""

Possession Stats :
Borussia Dortmund  55.333 : 44.667 Manchester United
Shots Created by Borussia Dortmund : 14
Shots Created by Manchester United : 11
Shots on target by Borussia Dortmund : 6
Shots on target by Manchester United : 4
Predicted Scoreline :
 Borussia Dortmund 1 : 1 Manchester United

In [44]:
def form_variate_score_predict(club1,club2):
  """
  While the function above predicts the most likely outcome, football is rarely
  a game of static prediction. More often than not there are slips in defense, 
  and astonishing results like Leeds schooling Liverpool (for a half anyway)

  This function aims to bring both the form of the teams into the prediction, 
  and random pure chance, coupled with the Home side advantage, to produce a
  less statistically modelled but more likely prediction.

  No two instances of this function on two teams is exactly the same.

  We use the form class variable to induce an integer variable called form to
  affect the outcome. For example, a Norwich City team coming off of three 
  consecutive losses is bound to lose to a Manchester City team on a roll. But
  reverse the forms and we have a game in hand, complete with Todd Cantwell dancing
  on the non existent City fans. 
  """
  form1 = club1.form
  form2 = club2.form
  f1 = 1
  f2 = 1
  if len(form1) != 0:
    for i in range(len(form1)):
     if form1[i] == 'W':
      f1 = (f1 + 0.3)       # adding a bonus of 0.3 for a win
     if form2[i] == 'D':
      f1 = (f1 + 0.1)       # and a 0.1 for a draw
  
  if len(form1) != 0:
    f1 = f1/len(form1)
  if len(form2) != 0:
    for i in range(len(form2)):
      if form2[i] == 'W':
        f2 = (f2 + 0.3)
      if form2[i] == 'D':
        f2 = (f2 + 0.1)
  
  if len(form2) != 0:
    f2 = f2/len(form2)
  #print(' {} {} '.format(f1,f2))

  m1 = club1.mid_ovr
  m2 = club2.mid_ovr
  d1 = club1.def_ovr
  d2 = club2.def_ovr
  a1 = club1.att_ovr
  a2 = club2.att_ovr
  rand1 = np.random.uniform(0.5,1.5)
  rand2 = np.random.uniform(0.5,1.5)
  s1 = (2*m1 + a1)/3        # obtaining an overall that combines the midfield and attack overalls to estimate possession
  s2 = (2*m2 + a2)/3
  #pos1 = 2*(m1 - m2) + (d1 - d2) + (a1 - a2)
  #pos2 = 2*(m2 - m1) + (d2 - d1) + (a2 - a1)
  #perc1 = s1*100/(s1+s2)
  #perc2 = s2*100/(s1+s2)
  pos1 = (s1-s2)*2
  pos2 = (s2-s1)*2
  per1 = per2 = 50
  per1 = per1 + pos1
  per2 = per2 + pos2
  pos_ratio = s1/s2
  #print('{} {}'.format(rand1,rand2))
  print("Possession Stats : ")
  '''
  if(s1>s2):
    if (s1-s2 > 5):
      print("{}  {:.3f} : {:.3f} {}".format(club1.team_name,per1,per2,club2.team_name))
    else :
      print("{}  {:.3f} : {:.3f} {}".format(club1.team_name,perc1,perc2,club2.team_name))
    pos_ratio = s1/s2
  else:  
    if (s2-s1 > 5):
      print("{}  {:.3f} : {:.3f} {}".format(club1.team_name,per1,per2,club2.team_name))
    else :
      print("{}  {:.3f} : {:.3f} {}".format(club1.team_name,perc1,perc2,club2.team_name))
    pos_ratio = s2/s1
  '''
  ran1 = np.random.uniform(0.8,1.3)
  per1 = per1*ran1
  #per1 = per1*
  print("{}  {:.3f} : {:.3f} {}".format(club1.team_name,per1,100 - per1,club2.team_name))
  shots_created_1 = int(shooting[shooting['Squad'] == club1.team_name]['Sh/90'].values[0]* (per1/50) * ( ( (m1+a1)/2 )/d2 ) * (f1/f2)) #''' * (rand1) '''  
  shots_created_2 = int(shooting[shooting['Squad'] == club1.team_name]['Sh/90'].values[0]* (per2/50) * ( ( (m2+a2)/2 )/d1 ) * (f1/f2))  #'''* (rand2) ''')
  #print(' {} {} '.format(s1,s2))
  
  print('Chances Created by {} : {} '.format(club1.team_name,shots_created_1))
  print('Chances Created by {} : {} '.format(club2.team_name,shots_created_2))

  sot_1 = int(shooting[shooting['Squad'] == club1.team_name]['SoT%'].values[0] * (shots_created_1/100)  * (rand1) )    #* ( a1 / d2)
  sot_2 = int(shooting[shooting['Squad'] == club2.team_name]['SoT%'].values[0] * (shots_created_2/100)  * (rand2) )    #* ( a2 / d1) 
  print('Shots on target by {} : {} '.format(club1.team_name,sot_1))
  print('Shots on target by {} : {} '.format(club2.team_name,sot_2))

  ex_g1 = min(int(gk_adv[gk_adv['Squad'] == club2.team_name]['PSxG/SoT'].values[0]*sot_1 ),8)#* rand1)
  ex_g2 = min(int(gk_adv[gk_adv['Squad'] == club1.team_name]['PSxG/SoT'].values[0]*sot_2 ),8)#* rand2)

  x_g1 = int(shooting[shooting['Squad'] == club1.team_name]['G/SoT'].values[0]*sot_1)
  x_g2 = int(shooting[shooting['Squad'] == club2.team_name]['G/SoT'].values[0]*sot_2)
  print("Predicted Scoreline :")
  print(" {} {} : {} {}".format(club1.team_name,ex_g1,ex_g2,club2.team_name))
  if ex_g1>ex_g2:
    print('{} Wins'.format(club1.team_name))
  elif ex_g2>ex_g1:
    print('{} Wins'.format(club2.team_name))
  else:
    print('Draw')
  return (ex_g1,ex_g2)

In [51]:

BVB09 = club('Manchester City')
MUN = club('Manchester United')
BVB09.get_ovr(BVB09.goalkeep,BVB09.defense,BVB09.midfield,BVB09.attack,BVB09.starting_eleven,BVB09.sub_5,[])
MUN.get_ovr(MUN.goalkeep,MUN.defense,MUN.midfield,MUN.attack,MUN.starting_eleven,MUN.sub_5,[])

(h,a) = form_variate_score_predict(BVB09,MUN)

Possession Stats :
Manchester City  48.939 : 51.061 Manchester United
Chances Created by Manchester City : 19
Chances Created by Manchester United : 14
Shots on target by Manchester City : 3
Shots on target by Manchester United : 5
Predicted Scoreline :
 Manchester City 0 : 1 Manchester United
Manchester United Wins

In [52]:
lt = pd.read_csv('league table.csv',error_bad_lines=False,encoding = 'ISO-8859-1')
# Importing the league table to modify and use
lt

    Rk            Squad  MP  ...  Unnamed: 16  Unnamed: 17  Unnamed: 18
0    5          Arsenal   3  ...          NaN          NaN          NaN
1    4      Aston Villa   2  ...          NaN          NaN          NaN
2   12         Brighton   3  ...          NaN          NaN          NaN
3   18          Burnley   2  ...          NaN          NaN          NaN
4    9          Chelsea   3  ...          NaN          NaN          NaN
5    6   Crystal Palace   3  ...          NaN          NaN          NaN
6    3          Everton   3  ...          NaN          NaN          NaN
7   20           Fulham   3  ...          NaN          NaN          NaN
8    7     Leeds United   3  ...          NaN          NaN          NaN
9    1   Leicester City   3  ...          NaN          NaN          NaN
10   2        Liverpool   3  ...          NaN          NaN          NaN
11  13  Manchester City   2  ...          NaN          NaN          NaN
12  14   Manchester Utd   2  ...          NaN          NaN          NaN
13  10    Newcastle Utd   3  ...          NaN          NaN          NaN
14  19    Sheffield Utd   3  ...          NaN          NaN          NaN
15  15      Southampton   3  ...          NaN          NaN          NaN
16   8        Tottenham   3  ...          NaN          NaN          NaN
17  17        West Brom   3  ...          NaN          NaN          NaN
18  11         West Ham   3  ...          NaN          NaN          NaN
19  16           Wolves   3  ...          NaN          NaN          NaN

[20 rows x 19 columns]

In [53]:
# Clearing existing data to get a fresh league table

lt = lt.iloc[:,:11]
lt.columns = ['Rk'	,'Squad'	,'MP'	,'W',	'D'	,'L',	'GF',	'GA',	'GDiff'	,'Pts'	,'Last 3']
table_cols = ['MP'	,'W',	'D'	,'L',	'GF',	'GA',	'GDiff'	,'Pts']
for col in table_cols:
  lt[col] = np.zeros_like(lt[col])
lt['Last 3'] = [[] for x in lt['Last 3']]
lt['Rk'] = np.arange(1,21)
lt

    Rk            Squad  MP  W  D  L  GF  GA  GDiff  Pts Last 3
0    1          Arsenal   0  0  0  0   0   0      0    0     []
1    2      Aston Villa   0  0  0  0   0   0      0    0     []
2    3         Brighton   0  0  0  0   0   0      0    0     []
3    4          Burnley   0  0  0  0   0   0      0    0     []
4    5          Chelsea   0  0  0  0   0   0      0    0     []
5    6   Crystal Palace   0  0  0  0   0   0      0    0     []
6    7          Everton   0  0  0  0   0   0      0    0     []
7    8           Fulham   0  0  0  0   0   0      0    0     []
8    9     Leeds United   0  0  0  0   0   0      0    0     []
9   10   Leicester City   0  0  0  0   0   0      0    0     []
10  11        Liverpool   0  0  0  0   0   0      0    0     []
11  12  Manchester City   0  0  0  0   0   0      0    0     []
12  13   Manchester Utd   0  0  0  0   0   0      0    0     []
13  14    Newcastle Utd   0  0  0  0   0   0      0    0     []
14  15    Sheffield Utd   0  0  0  0   0   0      0    0     []
15  16      Southampton   0  0  0  0   0   0      0    0     []
16  17        Tottenham   0  0  0  0   0   0      0    0     []
17  18        West Brom   0  0  0  0   0   0      0    0     []
18  19         West Ham   0  0  0  0   0   0      0    0     []
19  20           Wolves   0  0  0  0   0   0      0    0     []

In [54]:
# Changing the league names to official FIFA names 
for i in range(len(lt)):
  lt.loc[i,'Squad'] = pos_to_df[lt.loc[i,'Squad']]
lt

    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts Last 3
0    1                  Arsenal   0  0  0  0   0   0      0    0     []
1    2              Aston Villa   0  0  0  0   0   0      0    0     []
2    3   Brighton & Hove Albion   0  0  0  0   0   0      0    0     []
3    4                  Burnley   0  0  0  0   0   0      0    0     []
4    5                  Chelsea   0  0  0  0   0   0      0    0     []
5    6           Crystal Palace   0  0  0  0   0   0      0    0     []
6    7                  Everton   0  0  0  0   0   0      0    0     []
7    8                   Fulham   0  0  0  0   0   0      0    0     []
8    9             Leeds United   0  0  0  0   0   0      0    0     []
9   10           Leicester City   0  0  0  0   0   0      0    0     []
10  11                Liverpool   0  0  0  0   0   0      0    0     []
11  12          Manchester City   0  0  0  0   0   0      0    0     []
12  13        Manchester United   0  0  0  0   0   0      0    0     []
13  14         Newcastle United   0  0  0  0   0   0      0    0     []
14  15         Sheffield United   0  0  0  0   0   0      0    0     []
15  16              Southampton   0  0  0  0   0   0      0    0     []
16  17        Tottenham Hotspur   0  0  0  0   0   0      0    0     []
17  18     West Bromwich Albion   0  0  0  0   0   0      0    0     []
18  19          West Ham United   0  0  0  0   0   0      0    0     []
19  20  Wolverhampton Wanderers   0  0  0  0   0   0      0    0     []

In [55]:
print("Teams in the Premier League : ")
x = gk_adv[gk_adv['Comp'] == 'eng Premier League']['Squad'].values
print(x)
first_10 = x[:10]
last_10 = x[10:]

Teams in the Premier League :
['Arsenal' 'Aston Villa' 'Brighton & Hove Albion' 'Burnley' 'Chelsea'
 'Crystal Palace' 'Everton' 'Fulham' 'Leeds United' 'Leicester City'
 'Liverpool' 'Manchester City' 'Manchester United' 'Newcastle United'
 'Sheffield United' 'Southampton' 'Tottenham Hotspur'
 'West Bromwich Albion' 'West Ham United' 'Wolverhampton Wanderers']

In [58]:
# Reading the fixture list for the Premier League Season 2020-21
fixture_list = pd.read_csv('fixture_list.csv',error_bad_lines=False,encoding='ISO-8859-1')
fixture_list = fixture_list.iloc[:,:3]
fixture_list

       Wk             Home            Away
0     1.0          Burnley  Manchester Utd
1     1.0  Manchester City     Aston Villa
2     1.0           Fulham         Arsenal
3     1.0   Crystal Palace     Southampton
4     1.0        Liverpool    Leeds United
..    ...              ...             ...
412  38.0           Fulham   Newcastle Utd
413  38.0         West Ham     Southampton
414  38.0          Arsenal        Brighton
415  38.0    Sheffield Utd         Burnley
416  38.0        Liverpool  Crystal Palace

[417 rows x 3 columns]

In [59]:
for i in range(10,407,11):
  fixture_list = fixture_list.drop(i,axis = 0)
fixture_list

       Wk             Home            Away
0     1.0          Burnley  Manchester Utd
1     1.0  Manchester City     Aston Villa
2     1.0           Fulham         Arsenal
3     1.0   Crystal Palace     Southampton
4     1.0        Liverpool    Leeds United
..    ...              ...             ...
412  38.0           Fulham   Newcastle Utd
413  38.0         West Ham     Southampton
414  38.0          Arsenal        Brighton
415  38.0    Sheffield Utd         Burnley
416  38.0        Liverpool  Crystal Palace

[380 rows x 3 columns]

In [60]:
fixture_list = fixture_list.reset_index(drop=True)
fixture_list

       Wk             Home            Away
0     1.0          Burnley  Manchester Utd
1     1.0  Manchester City     Aston Villa
2     1.0           Fulham         Arsenal
3     1.0   Crystal Palace     Southampton
4     1.0        Liverpool    Leeds United
..    ...              ...             ...
375  38.0           Fulham   Newcastle Utd
376  38.0         West Ham     Southampton
377  38.0          Arsenal        Brighton
378  38.0    Sheffield Utd         Burnley
379  38.0        Liverpool  Crystal Palace

[380 rows x 3 columns]

In [61]:
# Changing the fixture list club names to FIFA format
for i in range(len(fixture_list)):
  fixture_list.loc[i,'Home'] = pos_to_df[fixture_list.loc[i,'Home']]
  fixture_list.loc[i,'Away'] = pos_to_df[fixture_list.loc[i,'Away']]

In [62]:
fixture_list

       Wk              Home                    Away
0     1.0           Burnley       Manchester United
1     1.0   Manchester City             Aston Villa
2     1.0            Fulham                 Arsenal
3     1.0    Crystal Palace             Southampton
4     1.0         Liverpool            Leeds United
..    ...               ...                     ...
375  38.0            Fulham        Newcastle United
376  38.0   West Ham United             Southampton
377  38.0           Arsenal  Brighton & Hove Albion
378  38.0  Sheffield United                 Burnley
379  38.0         Liverpool          Crystal Palace

[380 rows x 3 columns]

In [63]:
fixture_by_gameweek = {}
for i in range(1,39):
  fixture_by_gameweek['W'+str(i)] = fixture_list[fixture_list['Wk'] == i]
fix_by_gk_2 = {}
for i in range(1,5):
  fix_by_gk_2['W'+str(i)] = fixture_list[fixture_list['Wk'] == i]

In [64]:
# Score Prediction function without print statements
def form_variate_func_predict(club1,club2):
  
  form1 = club1.form
  form2 = club2.form
  #print(form1)
  #print(form2)
  f1 = 1
  f2 = 1
  
  if len(form1) != 0:
    for i in range(len(form1)):
     if form1[i] == 'W':
      f1 = (f1 + 0.2)
     if form2[i] == 'D':
      f1 = (f1 + 0.15)
  
  if len(form1) != 0:
    f1 = f1/len(form1)
  if len(form2) != 0:
    for i in range(len(form2)):
      if form2[i] == 'W':
        f2 = (f2 + 0.2)
      if form2[i] == 'D':
        f2 = (f2 + 0.15)
  
  if len(form2) != 0:
    f2 = f2/len(form2)
  #print(' {} {} '.format(f1,f2))
  m1 = club1.mid_ovr
  m2 = club2.mid_ovr
  d1 = club1.def_ovr
  d2 = club2.def_ovr
  a1 = club1.att_ovr
  a2 = club2.att_ovr
  rand1 = np.random.uniform(0.5,2.1)
  rand2 = np.random.uniform(0.5,1.9)
  s1 = (2*m1 + a1)/3
  s2 = (2*m2 + a2)/3
  #pos1 = 2*(m1 - m2) + (d1 - d2) + (a1 - a2)
  #pos2 = 2*(m2 - m1) + (d2 - d1) + (a2 - a1)
  #perc1 = s1*100/(s1+s2)
  #perc2 = s2*100/(s1+s2)
  pos1 = (s1-s2)*2
  pos2 = (s2-s1)*2
  per1 = per2 = 50
  per1 = per1 + pos1
  per2 = per2 + pos2
  pos_ratio = s1/s2
  #print('{} {}'.format(rand1,rand2))
  #print("Possession Stats : ")

  #print("{}  {:.3f} : {:.3f} {}".format(club1.team_name,per1,per2,club2.team_name))
  shots_created_1 = int(shooting[shooting['Squad'] == club1.team_name]['Sh/90'].values[0]* (per1/50) * ( ( (m1+a1)/2 )/d2 ) * (f1/f2))  
  shots_created_2 = int(shooting[shooting['Squad'] == club1.team_name]['Sh/90'].values[0]* (per2/50) * ( ( (m2+a2)/2 )/d1 ) * (f1/f2)) 
  #print(' {} {} '.format(s1,s2))
  
  #print('Chances Created by {} : {} '.format(club1.team_name,shots_created_1))
  #print('Chances Created by {} : {} '.format(club2.team_name,shots_created_2))

  sot_1 = int(shooting[shooting['Squad'] == club1.team_name]['SoT%'].values[0] * (shots_created_1/100)  * (rand1) )    #* ( a1 / d2)
  sot_2 = int(shooting[shooting['Squad'] == club2.team_name]['SoT%'].values[0] * (shots_created_2/100)  * (rand2) )    #* ( a2 / d1) 
  #print('Shots on target by {} : {} '.format(club1.team_name,sot_1))
  #print('Shots on target by {} : {} '.format(club2.team_name,sot_2))

  ex_g1 = min(int(gk_adv[gk_adv['Squad'] == club2.team_name]['PSxG/SoT'].values[0]*sot_1 ),8)#* rand1)
  ex_g2 = min(int(gk_adv[gk_adv['Squad'] == club1.team_name]['PSxG/SoT'].values[0]*sot_2 ),8)#* rand2)

  x_g1 = int(shooting[shooting['Squad'] == club1.team_name]['G/SoT'].values[0]*sot_1)
  x_g2 = int(shooting[shooting['Squad'] == club2.team_name]['G/SoT'].values[0]*sot_2)
  #print("Predicted Scoreline :")
  print(" {} {} : {} {}".format(club1.team_name,ex_g1,ex_g2,club2.team_name))
  '''
  if ex_g1>ex_g2:
    print('{} Wins'.format(club1.team_name))
  elif ex_g2>ex_g1:
    print('{} Wins'.format(club2.team_name))
  else:
    print('Draw')
  '''
  return (ex_g1,ex_g2)

In [65]:
# Let us try simming the first 4 matchweeks to get an idea of whether our function works
for col in table_cols:
  lt[col] = np.zeros_like(lt[col])
lt['Last 3'] = [[] for x in lt['Last 3']]
lt['Rk'] = np.arange(1,21)
k = 0
for a in fix_by_gk_2:
  
  fix_list = fixture_by_gameweek[a]
  fix_list = fix_list.reset_index(drop = True)
  #print(fix_list)
  lt['MP'] += 1
  for i in range(len(fix_list)):  
    H_num = lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0]
    A_num = lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0]
    H = club(fix_list.loc[i,'Home'])
    A = club(fix_list.loc[i,'Away'])
    H_form = lt[lt['Squad'] == fix_list.loc[i,'Away']]['Last 3'].values[0]
    A_form = lt[lt['Squad'] == fix_list.loc[i,'Away']]['Last 3'].values[0]
    H.get_ovr(H.goalkeep,H.defense,H.midfield,H.attack,H.starting_eleven,H.sub_5,H_form)
    A.get_ovr(A.goalkeep,A.defense,A.midfield,A.attack,A.starting_eleven,A.sub_5,A_form)
    
    #print('Hello')
    (g1,g2) = form_variate_func_predict(H,A)
    #print(g1,g2)
    if g1>g2:
      #print('Home win loop')
      lt.loc[H_num,'W'] += 1
      lt.loc[A_num,'L'] += 1
      lt.loc[H_num,'Pts'] += 3
      lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3'].append('L')
      if (len(lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3']) > 3):
        lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3'].pop(0)
      lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3'].append('W')
      if (len(lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3']) > 3):
        lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3'].pop(0)
    elif g2>g1:
      #print('Away win loop')
      lt.loc[A_num,'W'] += 1
      lt.loc[H_num,'L'] += 1
      lt.loc[A_num,'Pts'] += 3
      lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3'].append('W')
      if (len(lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3']) > 3):
        lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3'].pop(0)
      lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3'].append('L')
      if (len(lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3']) > 3):
        lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3'].pop(0)
    else:
      #print('Draw loop')
      lt.loc[H_num,'D'] += 1
      lt.loc[A_num,'D'] += 1
      lt.loc[H_num,'Pts'] += 1
      lt.loc[A_num,'Pts'] += 1
      lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3'].append('D')
      if (len(lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3']) > 3):
        lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3'].pop(0)
      lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3'].append('D')
      if (len(lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3']) > 3):
        lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3'].pop(0)
    lt.loc[H_num,'GF'] = lt.loc[H_num,'GF'] + g1
    lt.loc[A_num,'GF'] = lt.loc[A_num,'GF'] + g2
    lt.loc[A_num,'GA'] = lt.loc[A_num,'GA'] + g1
    lt.loc[H_num,'GA'] = lt.loc[H_num,'GA'] + g2
    lt.loc[H_num,'GDiff'] = lt.loc[H_num,'GDiff'] + g1 - g2
    lt.loc[A_num,'GDiff'] = lt.loc[A_num,'GDiff'] + g2 - g1
  disp_lt = lt.sort_values(by = ['Pts','GDiff'],ascending=False)
  disp_lt['Rk'] = np.arange(1,21)
  print(disp_lt)
  k += 1

 Burnley 0 : 0 Manchester United
 Manchester City 2 : 1 Aston Villa
 Fulham 1 : 2 Arsenal
 Crystal Palace 1 : 0 Southampton
 Liverpool 4 : 0 Leeds United
 West Ham United 2 : 1 Newcastle United
 West Bromwich Albion 0 : 0 Leicester City
 Tottenham Hotspur 0 : 0 Everton
 Sheffield United 0 : 1 Wolverhampton Wanderers
 Brighton & Hove Albion 1 : 2 Chelsea
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts Last 3
10   1                Liverpool   1  1  0  0   4   0      4    3    [W]
0    2                  Arsenal   1  1  0  0   2   1      1    3    [W]
4    3                  Chelsea   1  1  0  0   2   1      1    3    [W]
5    4           Crystal Palace   1  1  0  0   1   0      1    3    [W]
11   5          Manchester City   1  1  0  0   2   1      1    3    [W]
18   6          West Ham United   1  1  0  0   2   1      1    3    [W]
19   7  Wolverhampton Wanderers   1  1  0  0   1   0      1    3    [W]
3    8                  Burnley   1  0  1  0   0   0      0    1    [D]
6    9                  Everton   1  0  1  0   0   0      0    1    [D]
9   10           Leicester City   1  0  1  0   0   0      0    1    [D]
12  11        Manchester United   1  0  1  0   0   0      0    1    [D]
16  12        Tottenham Hotspur   1  0  1  0   0   0      0    1    [D]
17  13     West Bromwich Albion   1  0  1  0   0   0      0    1    [D]
1   14              Aston Villa   1  0  0  1   1   2     -1    0    [L]
2   15   Brighton & Hove Albion   1  0  0  1   1   2     -1    0    [L]
7   16                   Fulham   1  0  0  1   1   2     -1    0    [L]
13  17         Newcastle United   1  0  0  1   1   2     -1    0    [L]
14  18         Sheffield United   1  0  0  1   0   1     -1    0    [L]
15  19              Southampton   1  0  0  1   0   1     -1    0    [L]
8   20             Leeds United   1  0  0  1   0   4     -4    0    [L]
 Everton 4 : 0 West Bromwich Albion
 Leeds United 4 : 1 Fulham
 Manchester United 3 : 0 Crystal Palace
 Arsenal 0 : 1 West Ham United
 Southampton 0 : 2 Tottenham Hotspur
 Newcastle United 0 : 0 Brighton & Hove Albion
 Chelsea 0 : 3 Liverpool
 Leicester City 0 : 0 Burnley
 Aston Villa 2 : 0 Sheffield United
 Wolverhampton Wanderers 0 : 2 Manchester City
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts  Last 3
10   1                Liverpool   2  2  0  0   7   0      7    6  [W, W]
11   2          Manchester City   2  2  0  0   4   1      3    6  [W, W]
18   3          West Ham United   2  2  0  0   3   1      2    6  [W, W]
6    4                  Everton   2  1  1  0   4   0      4    4  [D, W]
12   5        Manchester United   2  1  1  0   3   0      3    4  [D, W]
16   6        Tottenham Hotspur   2  1  1  0   2   0      2    4  [D, W]
1    7              Aston Villa   2  1  0  1   3   2      1    3  [L, W]
0    8                  Arsenal   2  1  0  1   2   2      0    3  [W, L]
8    9             Leeds United   2  1  0  1   4   5     -1    3  [L, W]
19  10  Wolverhampton Wanderers   2  1  0  1   1   2     -1    3  [W, L]
4   11                  Chelsea   2  1  0  1   2   4     -2    3  [W, L]
5   12           Crystal Palace   2  1  0  1   1   3     -2    3  [W, L]
3   13                  Burnley   2  0  2  0   0   0      0    2  [D, D]
9   14           Leicester City   2  0  2  0   0   0      0    2  [D, D]
2   15   Brighton & Hove Albion   2  0  1  1   1   2     -1    1  [L, D]
13  16         Newcastle United   2  0  1  1   1   2     -1    1  [L, D]
17  17     West Bromwich Albion   2  0  1  1   0   4     -4    1  [D, L]
14  18         Sheffield United   2  0  0  2   0   3     -3    0  [L, L]
15  19              Southampton   2  0  0  2   0   3     -3    0  [L, L]
7   20                   Fulham   2  0  0  2   2   6     -4    0  [L, L]
 Brighton & Hove Albion 0 : 2 Manchester United
 Crystal Palace 0 : 1 Everton
 West Bromwich Albion 0 : 2 Chelsea
 Burnley 1 : 0 Southampton
 Sheffield United 1 : 0 Leeds United
 Tottenham Hotspur 2 : 0 Newcastle United
 Manchester City 3 : 1 Leicester City
 West Ham United 1 : 0 Wolverhampton Wanderers
 Fulham 2 : 2 Aston Villa
 Liverpool 1 : 1 Arsenal
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts     Last 3
11   1          Manchester City   3  3  0  0   7   2      5    9  [W, W, W]
18   2          West Ham United   3  3  0  0   4   1      3    9  [W, W, W]
10   3                Liverpool   3  2  1  0   8   1      7    7  [W, W, D]
6    4                  Everton   3  2  1  0   5   0      5    7  [D, W, W]
12   5        Manchester United   3  2  1  0   5   0      5    7  [D, W, W]
16   6        Tottenham Hotspur   3  2  1  0   4   0      4    7  [D, W, W]
4    7                  Chelsea   3  2  0  1   4   4      0    6  [W, L, W]
3    8                  Burnley   3  1  2  0   1   0      1    5  [D, D, W]
1    9              Aston Villa   3  1  1  1   5   4      1    4  [L, W, D]
0   10                  Arsenal   3  1  1  1   3   3      0    4  [W, L, D]
8   11             Leeds United   3  1  0  2   4   6     -2    3  [L, W, L]
14  12         Sheffield United   3  1  0  2   1   3     -2    3  [L, L, W]
19  13  Wolverhampton Wanderers   3  1  0  2   1   3     -2    3  [W, L, L]
5   14           Crystal Palace   3  1  0  2   1   4     -3    3  [W, L, L]
9   15           Leicester City   3  0  2  1   1   3     -2    2  [D, D, L]
2   16   Brighton & Hove Albion   3  0  1  2   1   4     -3    1  [L, D, L]
13  17         Newcastle United   3  0  1  2   1   4     -3    1  [L, D, L]
7   18                   Fulham   3  0  1  2   4   8     -4    1  [L, L, D]
17  19     West Bromwich Albion   3  0  1  2   0   6     -6    1  [D, L, L]
15  20              Southampton   3  0  0  3   0   4     -4    0  [L, L, L]
 Chelsea 1 : 1 Crystal Palace
 Everton 2 : 0 Brighton & Hove Albion
 Leeds United 0 : 4 Manchester City
 Newcastle United 0 : 0 Burnley
 Leicester City 1 : 2 West Ham United
 Southampton 3 : 2 West Bromwich Albion
 Arsenal 1 : 0 Sheffield United
 Wolverhampton Wanderers 1 : 0 Fulham
 Manchester United 1 : 2 Tottenham Hotspur
 Aston Villa 0 : 2 Liverpool
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts     Last 3
11   1          Manchester City   4  4  0  0  11   2      9   12  [W, W, W]
18   2          West Ham United   4  4  0  0   6   2      4   12  [W, W, W]
10   3                Liverpool   4  3  1  0  10   1      9   10  [W, D, W]
6    4                  Everton   4  3  1  0   7   0      7   10  [W, W, W]
16   5        Tottenham Hotspur   4  3  1  0   6   1      5   10  [W, W, W]
12   6        Manchester United   4  2  1  1   6   2      4    7  [W, W, L]
0    7                  Arsenal   4  2  1  1   4   3      1    7  [L, D, W]
4    8                  Chelsea   4  2  1  1   5   5      0    7  [L, W, D]
3    9                  Burnley   4  1  3  0   1   0      1    6  [D, W, D]
19  10  Wolverhampton Wanderers   4  2  0  2   2   3     -1    6  [L, L, W]
1   11              Aston Villa   4  1  1  2   5   6     -1    4  [W, D, L]
5   12           Crystal Palace   4  1  1  2   2   5     -3    4  [L, L, D]
14  13         Sheffield United   4  1  0  3   1   4     -3    3  [L, W, L]
15  14              Southampton   4  1  0  3   3   6     -3    3  [L, L, W]
8   15             Leeds United   4  1  0  3   4  10     -6    3  [W, L, L]
9   16           Leicester City   4  0  2  2   2   5     -3    2  [D, L, L]
13  17         Newcastle United   4  0  2  2   1   4     -3    2  [D, L, D]
2   18   Brighton & Hove Albion   4  0  1  3   1   6     -5    1  [D, L, L]
7   19                   Fulham   4  0  1  3   4   9     -5    1  [L, D, L]
17  20     West Bromwich Albion   4  0  1  3   2   9     -7    1  [L, L, L]

In [69]:
# Now that we can see that the sim works for the first 4 matchweeks, let us 
# now sim the entire league fixture list. 

# Keep in mind that no two instances of the simulator will be same, due to the
# added spontaneity. 
for col in table_cols:
  lt[col] = np.zeros_like(lt[col])
lt['Last 3'] = [[] for x in lt['Last 3']]
lt['Rk'] = np.arange(1,21)
k = 0
for a in fixture_by_gameweek:
  
  fix_list = fixture_by_gameweek[a]
  fix_list = fix_list.reset_index(drop = True)
  #print(fix_list)
  lt['MP'] += 1
  for i in range(len(fix_list)):  
    H_num = lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0]
    A_num = lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0]
    H = club(fix_list.loc[i,'Home'])
    A = club(fix_list.loc[i,'Away'])
    H_form = lt[lt['Squad'] == fix_list.loc[i,'Away']]['Last 3'].values[0]
    A_form = lt[lt['Squad'] == fix_list.loc[i,'Away']]['Last 3'].values[0]
    H.get_ovr(H.goalkeep,H.defense,H.midfield,H.attack,H.starting_eleven,H.sub_5,H_form)
    A.get_ovr(A.goalkeep,A.defense,A.midfield,A.attack,A.starting_eleven,A.sub_5,A_form)
    
    #print('Hello')
    (g1,g2) = form_variate_func_predict(H,A)
    #print(g1,g2)
    if g1>g2:
      #print('Home win loop')
      lt.loc[H_num,'W'] += 1
      lt.loc[A_num,'L'] += 1
      lt.loc[H_num,'Pts'] += 3
      lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3'].append('L')
      if (len(lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3']) > 3):
        lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3'].pop(0)
      lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3'].append('W')
      if (len(lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3']) > 3):
        lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3'].pop(0)
    elif g2>g1:
      #print('Away win loop')
      lt.loc[A_num,'W'] += 1
      lt.loc[H_num,'L'] += 1
      lt.loc[A_num,'Pts'] += 3
      lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3'].append('W')
      if (len(lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3']) > 3):
        lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3'].pop(0)
      lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3'].append('L')
      if (len(lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3']) > 3):
        lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3'].pop(0)
    else:
      #print('Draw loop')
      lt.loc[H_num,'D'] += 1
      lt.loc[A_num,'D'] += 1
      lt.loc[H_num,'Pts'] += 1
      lt.loc[A_num,'Pts'] += 1
      lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3'].append('D')
      if (len(lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3']) > 3):
        lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Away']].index.values[0],'Last 3'].pop(0)
      lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3'].append('D')
      if (len(lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3']) > 3):
        lt.loc[lt[lt['Squad'] == fix_list.loc[i,'Home']].index.values[0],'Last 3'].pop(0)
    lt.loc[H_num,'GF'] = lt.loc[H_num,'GF'] + g1
    lt.loc[A_num,'GF'] = lt.loc[A_num,'GF'] + g2
    lt.loc[A_num,'GA'] = lt.loc[A_num,'GA'] + g1
    lt.loc[H_num,'GA'] = lt.loc[H_num,'GA'] + g2
    lt.loc[H_num,'GDiff'] = lt.loc[H_num,'GDiff'] + g1 - g2
    lt.loc[A_num,'GDiff'] = lt.loc[A_num,'GDiff'] + g2 - g1
  disp_lt = lt.sort_values(by = ['Pts','GDiff'],ascending=False)
  disp_lt['Rk'] = np.arange(1,21)
  print(disp_lt)
  k += 1

 Burnley 0 : 1 Manchester United
 Manchester City 6 : 1 Aston Villa
 Fulham 0 : 3 Arsenal
 Crystal Palace 1 : 1 Southampton
 Liverpool 1 : 0 Leeds United
 West Ham United 0 : 0 Newcastle United
 West Bromwich Albion 0 : 1 Leicester City
 Tottenham Hotspur 2 : 0 Everton
 Sheffield United 0 : 1 Wolverhampton Wanderers
 Brighton & Hove Albion 1 : 1 Chelsea
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts Last 3
11   1          Manchester City   1  1  0  0   6   1      5    3    [W]
0    2                  Arsenal   1  1  0  0   3   0      3    3    [W]
16   3        Tottenham Hotspur   1  1  0  0   2   0      2    3    [W]
9    4           Leicester City   1  1  0  0   1   0      1    3    [W]
10   5                Liverpool   1  1  0  0   1   0      1    3    [W]
12   6        Manchester United   1  1  0  0   1   0      1    3    [W]
19   7  Wolverhampton Wanderers   1  1  0  0   1   0      1    3    [W]
2    8   Brighton & Hove Albion   1  0  1  0   1   1      0    1    [D]
4    9                  Chelsea   1  0  1  0   1   1      0    1    [D]
5   10           Crystal Palace   1  0  1  0   1   1      0    1    [D]
13  11         Newcastle United   1  0  1  0   0   0      0    1    [D]
15  12              Southampton   1  0  1  0   1   1      0    1    [D]
18  13          West Ham United   1  0  1  0   0   0      0    1    [D]
3   14                  Burnley   1  0  0  1   0   1     -1    0    [L]
8   15             Leeds United   1  0  0  1   0   1     -1    0    [L]
14  16         Sheffield United   1  0  0  1   0   1     -1    0    [L]
17  17     West Bromwich Albion   1  0  0  1   0   1     -1    0    [L]
6   18                  Everton   1  0  0  1   0   2     -2    0    [L]
7   19                   Fulham   1  0  0  1   0   3     -3    0    [L]
1   20              Aston Villa   1  0  0  1   1   6     -5    0    [L]
 Everton 2 : 0 West Bromwich Albion
 Leeds United 3 : 2 Fulham
 Manchester United 2 : 0 Crystal Palace
 Arsenal 2 : 0 West Ham United
 Southampton 0 : 1 Tottenham Hotspur
 Newcastle United 1 : 1 Brighton & Hove Albion
 Chelsea 2 : 1 Liverpool
 Leicester City 1 : 1 Burnley
 Aston Villa 1 : 0 Sheffield United
 Wolverhampton Wanderers 0 : 2 Manchester City
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts  Last 3
11   1          Manchester City   2  2  0  0   8   1      7    6  [W, W]
0    2                  Arsenal   2  2  0  0   5   0      5    6  [W, W]
12   3        Manchester United   2  2  0  0   3   0      3    6  [W, W]
16   4        Tottenham Hotspur   2  2  0  0   3   0      3    6  [W, W]
4    5                  Chelsea   2  1  1  0   3   2      1    4  [D, W]
9    6           Leicester City   2  1  1  0   2   1      1    4  [W, D]
6    7                  Everton   2  1  0  1   2   2      0    3  [L, W]
8    8             Leeds United   2  1  0  1   3   3      0    3  [L, W]
10   9                Liverpool   2  1  0  1   2   2      0    3  [W, L]
19  10  Wolverhampton Wanderers   2  1  0  1   1   2     -1    3  [W, L]
1   11              Aston Villa   2  1  0  1   2   6     -4    3  [L, W]
2   12   Brighton & Hove Albion   2  0  2  0   2   2      0    2  [D, D]
13  13         Newcastle United   2  0  2  0   1   1      0    2  [D, D]
3   14                  Burnley   2  0  1  1   1   2     -1    1  [L, D]
15  15              Southampton   2  0  1  1   1   2     -1    1  [D, L]
5   16           Crystal Palace   2  0  1  1   1   3     -2    1  [D, L]
18  17          West Ham United   2  0  1  1   0   2     -2    1  [D, L]
14  18         Sheffield United   2  0  0  2   0   2     -2    0  [L, L]
17  19     West Bromwich Albion   2  0  0  2   0   3     -3    0  [L, L]
7   20                   Fulham   2  0  0  2   2   6     -4    0  [L, L]
 Brighton & Hove Albion 0 : 1 Manchester United
 Crystal Palace 0 : 0 Everton
 West Bromwich Albion 0 : 1 Chelsea
 Burnley 1 : 1 Southampton
 Sheffield United 0 : 1 Leeds United
 Tottenham Hotspur 1 : 0 Newcastle United
 Manchester City 2 : 0 Leicester City
 West Ham United 0 : 0 Wolverhampton Wanderers
 Fulham 1 : 0 Aston Villa
 Liverpool 1 : 0 Arsenal
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts     Last 3
11   1          Manchester City   3  3  0  0  10   1      9    9  [W, W, W]
12   2        Manchester United   3  3  0  0   4   0      4    9  [W, W, W]
16   3        Tottenham Hotspur   3  3  0  0   4   0      4    9  [W, W, W]
4    4                  Chelsea   3  2  1  0   4   2      2    7  [D, W, W]
0    5                  Arsenal   3  2  0  1   5   1      4    6  [W, W, L]
8    6             Leeds United   3  2  0  1   4   3      1    6  [L, W, W]
10   7                Liverpool   3  2  0  1   3   2      1    6  [W, L, W]
6    8                  Everton   3  1  1  1   2   2      0    4  [L, W, D]
9    9           Leicester City   3  1  1  1   2   3     -1    4  [W, D, L]
19  10  Wolverhampton Wanderers   3  1  1  1   1   2     -1    4  [W, L, D]
7   11                   Fulham   3  1  0  2   3   6     -3    3  [L, L, W]
1   12              Aston Villa   3  1  0  2   2   7     -5    3  [L, W, L]
2   13   Brighton & Hove Albion   3  0  2  1   2   3     -1    2  [D, D, L]
3   14                  Burnley   3  0  2  1   2   3     -1    2  [L, D, D]
13  15         Newcastle United   3  0  2  1   1   2     -1    2  [D, D, L]
15  16              Southampton   3  0  2  1   2   3     -1    2  [D, L, D]
5   17           Crystal Palace   3  0  2  1   1   3     -2    2  [D, L, D]
18  18          West Ham United   3  0  2  1   0   2     -2    2  [D, L, D]
14  19         Sheffield United   3  0  0  3   0   3     -3    0  [L, L, L]
17  20     West Bromwich Albion   3  0  0  3   0   4     -4    0  [L, L, L]
 Chelsea 2 : 1 Crystal Palace
 Everton 1 : 1 Brighton & Hove Albion
 Leeds United 0 : 4 Manchester City
 Newcastle United 0 : 1 Burnley
 Leicester City 2 : 2 West Ham United
 Southampton 2 : 1 West Bromwich Albion
 Arsenal 3 : 0 Sheffield United
 Wolverhampton Wanderers 1 : 0 Fulham
 Manchester United 1 : 2 Tottenham Hotspur
 Aston Villa 0 : 3 Liverpool
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts     Last 3
11   1          Manchester City   4  4  0  0  14   1     13   12  [W, W, W]
16   2        Tottenham Hotspur   4  4  0  0   6   1      5   12  [W, W, W]
4    3                  Chelsea   4  3  1  0   6   3      3   10  [W, W, W]
0    4                  Arsenal   4  3  0  1   8   1      7    9  [W, L, W]
10   5                Liverpool   4  3  0  1   6   2      4    9  [L, W, W]
12   6        Manchester United   4  3  0  1   5   2      3    9  [W, W, L]
19   7  Wolverhampton Wanderers   4  2  1  1   2   2      0    7  [L, D, W]
8    8             Leeds United   4  2  0  2   4   7     -3    6  [W, W, L]
3    9                  Burnley   4  1  2  1   3   3      0    5  [D, D, W]
6   10                  Everton   4  1  2  1   3   3      0    5  [W, D, D]
15  11              Southampton   4  1  2  1   4   4      0    5  [L, D, W]
9   12           Leicester City   4  1  2  1   4   5     -1    5  [D, L, D]
2   13   Brighton & Hove Albion   4  0  3  1   3   4     -1    3  [D, L, D]
18  14          West Ham United   4  0  3  1   2   4     -2    3  [L, D, D]
7   15                   Fulham   4  1  0  3   3   7     -4    3  [L, W, L]
1   16              Aston Villa   4  1  0  3   2  10     -8    3  [W, L, L]
13  17         Newcastle United   4  0  2  2   1   3     -2    2  [D, L, L]
5   18           Crystal Palace   4  0  2  2   2   5     -3    2  [L, D, L]
17  19     West Bromwich Albion   4  0  0  4   1   6     -5    0  [L, L, L]
14  20         Sheffield United   4  0  0  4   0   6     -6    0  [L, L, L]
 Newcastle United 0 : 1 Manchester United
 Manchester City 3 : 1 Arsenal
 Tottenham Hotspur 2 : 0 West Ham United
 West Bromwich Albion 0 : 0 Burnley
 Everton 1 : 1 Liverpool
 Sheffield United 0 : 0 Fulham
 Chelsea 3 : 1 Southampton
 Crystal Palace 0 : 0 Brighton & Hove Albion
 Leicester City 1 : 1 Aston Villa
 Leeds United 1 : 2 Wolverhampton Wanderers
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts     Last 3
11   1          Manchester City   5  5  0  0  17   2     15   15  [W, W, W]
16   2        Tottenham Hotspur   5  5  0  0   8   1      7   15  [W, W, W]
4    3                  Chelsea   5  4  1  0   9   4      5   13  [W, W, W]
12   4        Manchester United   5  4  0  1   6   2      4   12  [W, L, W]
10   5                Liverpool   5  3  1  1   7   3      4   10  [W, W, D]
19   6  Wolverhampton Wanderers   5  3  1  1   4   3      1   10  [D, W, W]
0    7                  Arsenal   5  3  0  2   9   4      5    9  [L, W, L]
3    8                  Burnley   5  1  3  1   3   3      0    6  [D, W, D]
6    9                  Everton   5  1  3  1   4   4      0    6  [D, D, D]
9   10           Leicester City   5  1  3  1   5   6     -1    6  [L, D, D]
8   11             Leeds United   5  2  0  3   5   9     -4    6  [W, L, L]
15  12              Southampton   5  1  2  2   5   7     -2    5  [D, W, L]
2   13   Brighton & Hove Albion   5  0  4  1   3   4     -1    4  [L, D, D]
7   14                   Fulham   5  1  1  3   3   7     -4    4  [W, L, D]
1   15              Aston Villa   5  1  1  3   3  11     -8    4  [L, L, D]
5   16           Crystal Palace   5  0  3  2   2   5     -3    3  [D, L, D]
18  17          West Ham United   5  0  3  2   2   6     -4    3  [D, D, L]
13  18         Newcastle United   5  0  2  3   1   4     -3    2  [L, L, L]
17  19     West Bromwich Albion   5  0  1  4   1   6     -5    1  [L, L, D]
14  20         Sheffield United   5  0  1  4   0   6     -6    1  [L, L, D]
 West Ham United 0 : 1 Manchester City
 Arsenal 1 : 0 Leicester City
 Liverpool 1 : 0 Sheffield United
 Aston Villa 0 : 1 Leeds United
 Burnley 1 : 1 Tottenham Hotspur
 Wolverhampton Wanderers 1 : 1 Newcastle United
 Brighton & Hove Albion 0 : 1 West Bromwich Albion
 Fulham 0 : 2 Crystal Palace
 Manchester United 1 : 2 Chelsea
 Southampton 1 : 2 Everton
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts     Last 3
11   1          Manchester City   6  6  0  0  18   2     16   18  [W, W, W]
16   2        Tottenham Hotspur   6  5  1  0   9   2      7   16  [W, W, D]
4    3                  Chelsea   6  5  1  0  11   5      6   16  [W, W, W]
10   4                Liverpool   6  4  1  1   8   3      5   13  [W, D, W]
0    5                  Arsenal   6  4  0  2  10   4      6   12  [W, L, W]
12   6        Manchester United   6  4  0  2   7   4      3   12  [L, W, L]
19   7  Wolverhampton Wanderers   6  3  2  1   5   4      1   11  [W, W, D]
6    8                  Everton   6  2  3  1   6   5      1    9  [D, D, W]
8    9             Leeds United   6  3  0  3   6   9     -3    9  [L, L, W]
3   10                  Burnley   6  1  4  1   4   4      0    7  [W, D, D]
5   11           Crystal Palace   6  1  3  2   4   5     -1    6  [L, D, W]
9   12           Leicester City   6  1  3  2   5   7     -2    6  [D, D, L]
15  13              Southampton   6  1  2  3   6   9     -3    5  [W, L, L]
2   14   Brighton & Hove Albion   6  0  4  2   3   5     -2    4  [D, D, L]
17  15     West Bromwich Albion   6  1  1  4   2   6     -4    4  [L, D, W]
7   16                   Fulham   6  1  1  4   3   9     -6    4  [L, D, L]
1   17              Aston Villa   6  1  1  4   3  12     -9    4  [L, D, L]
13  18         Newcastle United   6  0  3  3   2   5     -3    3  [L, L, D]
18  19          West Ham United   6  0  3  3   2   7     -5    3  [D, L, L]
14  20         Sheffield United   6  0  1  5   0   7     -7    1  [L, D, L]
 Leeds United 1 : 1 Leicester City
 Liverpool 4 : 0 West Ham United
 Wolverhampton Wanderers 0 : 1 Crystal Palace
 Tottenham Hotspur 2 : 0 Brighton & Hove Albion
 Manchester United 0 : 1 Arsenal
 Newcastle United 1 : 1 Everton
 Burnley 0 : 1 Chelsea
 Fulham 0 : 1 West Bromwich Albion
 Aston Villa 1 : 2 Southampton
 Sheffield United 0 : 0 Manchester City
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts     Last 3
11   1          Manchester City   7  6  1  0  18   2     16   19  [W, W, D]
16   2        Tottenham Hotspur   7  6  1  0  11   2      9   19  [W, D, W]
4    3                  Chelsea   7  6  1  0  12   5      7   19  [W, W, W]
10   4                Liverpool   7  5  1  1  12   3      9   16  [D, W, W]
0    5                  Arsenal   7  5  0  2  11   4      7   15  [L, W, W]
12   6        Manchester United   7  4  0  3   7   5      2   12  [W, L, L]
19   7  Wolverhampton Wanderers   7  3  2  2   5   5      0   11  [W, D, L]
6    8                  Everton   7  2  4  1   7   6      1   10  [D, W, D]
8    9             Leeds United   7  3  1  3   7  10     -3   10  [L, W, D]
5   10           Crystal Palace   7  2  3  2   5   5      0    9  [D, W, W]
15  11              Southampton   7  2  2  3   8  10     -2    8  [L, L, W]
3   12                  Burnley   7  1  4  2   4   5     -1    7  [D, D, L]
9   13           Leicester City   7  1  4  2   6   8     -2    7  [D, L, D]
17  14     West Bromwich Albion   7  2  1  4   3   6     -3    7  [D, W, W]
13  15         Newcastle United   7  0  4  3   3   6     -3    4  [L, D, D]
2   16   Brighton & Hove Albion   7  0  4  3   3   7     -4    4  [D, L, L]
7   17                   Fulham   7  1  1  5   3  10     -7    4  [D, L, L]
1   18              Aston Villa   7  1  1  5   4  14    -10    4  [D, L, L]
18  19          West Ham United   7  0  3  4   2  11     -9    3  [L, L, L]
14  20         Sheffield United   7  0  2  5   0   7     -7    2  [D, L, D]
 Arsenal 2 : 0 Aston Villa
 Everton 1 : 1 Manchester United
 Southampton 0 : 2 Newcastle United
 West Ham United 2 : 0 Fulham
 Manchester City 1 : 2 Liverpool
 Brighton & Hove Albion 0 : 0 Burnley
 Leicester City 2 : 1 Wolverhampton Wanderers
 West Bromwich Albion 0 : 0 Tottenham Hotspur
 Crystal Palace 1 : 0 Leeds United
 Chelsea 3 : 1 Sheffield United
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts     Last 3
4    1                  Chelsea   8  7  1  0  15   6      9   22  [W, W, W]
16   2        Tottenham Hotspur   8  6  2  0  11   2      9   20  [D, W, D]
11   3          Manchester City   8  6  1  1  19   4     15   19  [W, D, L]
10   4                Liverpool   8  6  1  1  14   4     10   19  [W, W, W]
0    5                  Arsenal   8  6  0  2  13   4      9   18  [W, W, W]
12   6        Manchester United   8  4  1  3   8   6      2   13  [L, L, D]
5    7           Crystal Palace   8  3  3  2   6   5      1   12  [W, W, W]
6    8                  Everton   8  2  5  1   8   7      1   11  [W, D, D]
19   9  Wolverhampton Wanderers   8  3  2  3   6   7     -1   11  [D, L, L]
9   10           Leicester City   8  2  4  2   8   9     -1   10  [L, D, W]
8   11             Leeds United   8  3  1  4   7  11     -4   10  [W, D, L]
3   12                  Burnley   8  1  5  2   4   5     -1    8  [D, L, D]
17  13     West Bromwich Albion   8  2  2  4   3   6     -3    8  [W, W, D]
15  14              Southampton   8  2  2  4   8  12     -4    8  [L, W, L]
13  15         Newcastle United   8  1  4  3   5   6     -1    7  [D, D, W]
18  16          West Ham United   8  1  3  4   4  11     -7    6  [L, L, W]
2   17   Brighton & Hove Albion   8  0  5  3   3   7     -4    5  [L, L, D]
7   18                   Fulham   8  1  1  6   3  12     -9    4  [L, L, L]
1   19              Aston Villa   8  1  1  6   4  16    -12    4  [L, L, L]
14  20         Sheffield United   8  0  2  6   1  10     -9    2  [L, D, L]
 Burnley 0 : 1 Crystal Palace
 Sheffield United 0 : 2 West Ham United
 Aston Villa 1 : 1 Brighton & Hove Albion
 Wolverhampton Wanderers 1 : 0 Southampton
 Leeds United 1 : 2 Arsenal
 Tottenham Hotspur 1 : 1 Manchester City
 Newcastle United 1 : 1 Chelsea
 Liverpool 2 : 0 Leicester City
 Fulham 1 : 1 Everton
 Manchester United 4 : 0 West Bromwich Albion
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts     Last 3
4    1                  Chelsea   9  7  2  0  16   7      9   23  [W, W, D]
10   2                Liverpool   9  7  1  1  16   4     12   22  [W, W, W]
0    3                  Arsenal   9  7  0  2  15   5     10   21  [W, W, W]
16   4        Tottenham Hotspur   9  6  3  0  12   3      9   21  [W, D, D]
11   5          Manchester City   9  6  2  1  20   5     15   20  [D, L, D]
12   6        Manchester United   9  5  1  3  12   6      6   16  [L, D, W]
5    7           Crystal Palace   9  4  3  2   7   5      2   15  [W, W, W]
19   8  Wolverhampton Wanderers   9  4  2  3   7   7      0   14  [L, L, W]
6    9                  Everton   9  2  6  1   9   8      1   12  [D, D, D]
9   10           Leicester City   9  2  4  3   8  11     -3   10  [D, W, L]
8   11             Leeds United   9  3  1  5   8  13     -5   10  [D, L, L]
18  12          West Ham United   9  2  3  4   6  11     -5    9  [L, W, W]
13  13         Newcastle United   9  1  5  3   6   7     -1    8  [D, W, D]
3   14                  Burnley   9  1  5  3   4   6     -2    8  [L, D, L]
15  15              Southampton   9  2  2  5   8  13     -5    8  [W, L, L]
17  16     West Bromwich Albion   9  2  2  5   3  10     -7    8  [W, D, L]
2   17   Brighton & Hove Albion   9  0  6  3   4   8     -4    6  [L, D, D]
7   18                   Fulham   9  1  2  6   4  13     -9    5  [L, L, D]
1   19              Aston Villa   9  1  2  6   5  17    -12    5  [L, L, D]
14  20         Sheffield United   9  0  2  7   1  12    -11    2  [D, L, L]
 Southampton 0 : 2 Manchester United
 Arsenal 1 : 0 Wolverhampton Wanderers
 Leicester City 4 : 1 Fulham
 West Ham United 0 : 0 Aston Villa
 Everton 0 : 0 Leeds United
 West Bromwich Albion 1 : 1 Sheffield United
 Manchester City 4 : 0 Burnley
 Brighton & Hove Albion 0 : 1 Liverpool
 Chelsea 0 : 4 Tottenham Hotspur
 Crystal Palace 1 : 1 Newcastle United
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts     Last 3
10   1                Liverpool  10  8  1  1  17   4     13   25  [W, W, W]
16   2        Tottenham Hotspur  10  7  3  0  16   3     13   24  [D, D, W]
0    3                  Arsenal  10  8  0  2  16   5     11   24  [W, W, W]
11   4          Manchester City  10  7  2  1  24   5     19   23  [L, D, W]
4    5                  Chelsea  10  7  2  1  16  11      5   23  [W, D, L]
12   6        Manchester United  10  6  1  3  14   6      8   19  [D, W, W]
5    7           Crystal Palace  10  4  4  2   8   6      2   16  [W, W, D]
19   8  Wolverhampton Wanderers  10  4  2  4   7   8     -1   14  [L, W, L]
6    9                  Everton  10  2  7  1   9   8      1   13  [D, D, D]
9   10           Leicester City  10  3  4  3  12  12      0   13  [W, L, W]
8   11             Leeds United  10  3  2  5   8  13     -5   11  [L, L, D]
18  12          West Ham United  10  2  4  4   6  11     -5   10  [W, W, D]
13  13         Newcastle United  10  1  6  3   7   8     -1    9  [W, D, D]
17  14     West Bromwich Albion  10  2  3  5   4  11     -7    9  [D, L, D]
3   15                  Burnley  10  1  5  4   4  10     -6    8  [D, L, L]
15  16              Southampton  10  2  2  6   8  15     -7    8  [L, L, L]
2   17   Brighton & Hove Albion  10  0  6  4   4   9     -5    6  [D, D, L]
1   18              Aston Villa  10  1  3  6   5  17    -12    6  [L, D, D]
7   19                   Fulham  10  1  2  7   5  17    -12    5  [L, D, L]
14  20         Sheffield United  10  0  3  7   2  13    -11    3  [L, L, D]
 Brighton & Hove Albion 2 : 1 Southampton
 Burnley 1 : 1 Everton
 West Ham United 1 : 1 Manchester United
 Manchester City 4 : 1 Fulham
 Sheffield United 0 : 1 Leicester City
 West Bromwich Albion 0 : 0 Crystal Palace
 Chelsea 1 : 0 Leeds United
 Liverpool 3 : 0 Wolverhampton Wanderers
 Aston Villa 2 : 0 Newcastle United
 Tottenham Hotspur 2 : 0 Arsenal
    Rk                    Squad  MP  W  D  L  GF  GA  GDiff  Pts     Last 3
10   1                Liverpool  11  9  1  1  20   4     16   28  [W, W, W]
16   2        Tottenham Hotspur  11  8  3  0  18   3     15   27  [D, W, W]

In [ ]:
"""
    And there you have it!
    My first attempt at Sports Analytics and the league for the season 2020-21
    has been successfully simulated, though only time will tell how accurate 
    it really is. 

    To summarise the season, an aggressive follow-up on last season's heroics 
    see the Liverpool clinch the title with another 99 points season, losing 
    only once to a spirited Chelsea on the second matchday. Manchester City 
    are unable to keep the same tempo that Liverpool keep and fall to another
    second place finish. Tottenham Hotspurs are surprise candidates coming in
    3rd, and to complete a North London CL places coup Arsenal follows in at 
    4th, with United clinching a 5th place (mainly due to poor recruitment if
    you ask me)

    Unable to follow a fantastic first season showing, Sheffield United fall 
    to the relegation places alongside the newly promoted WBA and Fulham. No
    surprises there.

    A strong start to the season enables Everton to finish in the top half while
    a strong start not maintained by Bielsa's men prompts them to finish 16th, 
    while Aston Villa once again survive by one place. 

    Thank You!
"""

In [ ]:
"""
LEE = club('Leeds United')
LEE.get_team_data()
LEE.team_data.loc[:,('short_name','player_positions','overall','team_jersey_number')]
LEE.get_ovr(
    {
     19:'gk',
     6:'cb',
     28:'cb',
     3:'lb',
     2:'rb',
     43:'cm',
     23:'cdm',
     4:'cm',
     19:'lm',
     17:'rm',
     9:'st'    
    },
    {
     22:'sub',
     28:'sub',
     10:'sub',
     11:'sub',
     14:'sub'
    }
)
"""

In [ ]:
"""
MUN.get_ovr(
    {
        1:'gk',
        2:'cb',
        5:'cb',
        29:'rb',
        23:'lb',
        6:'cm',
        10:'lm',
        8:'rm',
        7:'lw',
        9:'st',
        14:'rw'
    },
    {
        31:'Sub',
        3:'Sub',
        22:'Sub',
        12:'Sub',
        17:'Sub',
    }
)
print(MUN.lineup)
print(MUN.ovr)
"""

In [ ]:
#get_team_data('Borussia Dortmund')
dort = {
    1:'gk',                             #Burki
    25:'cb',                            #Akanji
    16:'cb',                            #Hummels
    5:'lb',                             #Pisczek
    26:'rb',                            #Hakimi
    7:'lm',                             #Sancho
    6:'cdm',
    11:'cam',
    28:'cdm',
    23:'rm',
    9:'st'
}
do_sub = {
    35:'Sub',
    13:'Sub',
    33:'Sub',
    2:'Sub',
    8:'Sub'
    
}

In [ ]:
'''def head2head(club1,club2):

  club1_ovr = club1.ovr/11
  club2_ovr = club2.ovr/11
  club1_ch = club1_ovr/(club1_ovr+club2_ovr)
  club1_ch = club2_ch = draw_ch =  33.3333
  club1_ch = club1_ch + (club1_ovr - club2_ovr)/3
  club2_ch = club2_ch + (club2_ovr - club1_ovr)/3
  draw_ch = draw_ch #- (abs(club1_ovr - club2_ovr))/3
  #print('{} : {:.4f} Draw : {:.4f} {} : {:.4f}'.format(club1.team_name,club1_ch,draw_ch,club2.team_name,club2_ch))
  print('Difference : {}'.format(abs(club1_ovr - club2_ovr)))
  #print('Sum : {}'.format(club1_ch+club2_ch+draw_ch))'''

In [ ]:
"""MUN = club('Manchester City')
BVB09 = club('FC Bayern München')
a = BVB09.get_ovr(BVB09.goalkeep,BVB09.defense,BVB09.midfield,BVB09.attack,BVB09.starting_eleven,BVB09.sub_5,['W','W','L'])

b = MUN.get_ovr(MUN.goalkeep,MUN.defense,MUN.midfield,MUN.attack,MUN.starting_eleven,MUN.sub_5,['W','W','L'])
#poss_predict(BVB09,MUN)"""